- content_for :loan_programs_body do
  %article.sub-page-content
    %h2.sub-title
      Conventional Loans
    %p.slogan
      A great alternative to FHA financing with minimal down or refi with limited equity.
    %h2.heading.mb15--force
      Optional Terms:
    %ul.order--number.mb40
      %li
        Up to 95% LTV
      %li
        First time homebuyers, move-up borrowers, and retirees
      %li
        No income limits for underserved areas
      %li
        No reserve requirements for 1-unit properties
      %li
        Gift funds eligible for entire down payment
    %h2.heading.mb0
      Fannie/DU Conforming and High Balance
    %a.link--red.download-link.mb15--force{:href=> "http://www.allregs.com/tpl/Main.aspx"}
      Download Full Guidelines
    .collapse
      %div.collapse__header
        Standard Eligibility Requirements - Desktop Underwriter
        %span.arrow
      %div.collapse__content
        .matrices
          %table
            %tbody
              %thead  
                %tr
                  %td{:colspan => "3"} 
                    Primary Residence: Purchase or limited cash out refinance
              %tr.matrix-category
                %td
                  Property Type
                %td
                  maximum LTV/CLTV /HCLTV Fixed Rate Mortgage
                %td
                  maximum LTV/CLTV /HCLTV Adjustable Rate Mortgage
              %tr
                %td
                  1 Unit
                %td
                  97%
                %td
                  90%
              %tr
                %td
                  2 Units
                %td
                  85%
                %td
                  75%
              %tr
                %td
                  3–4 Units
                %td
                  75%
                %td
                  65%
            %tbody
              %thead  
                %tr
                  %td{:colspan => "3"} Primary Residence: cash out refinance
              %tr.matrix-category
                %td
                  Property Type
                %td
                  maximum LTV/CLTV /HCLTV Fixed Rate Mortgage
                %td
                  maximum LTV/CLTV /HCLTV Adjustable Rate Mortgage
              %tr
                %td
                  1 Unit
                %td
                  80%
                %td
                  75%
              %tr
                %td
                  2–4 Units
                %td
                  75%
                %td
                  65%
            %tbody
              %thead  
                %tr
                  %td{:colspan => "3"}
                    Secondary Residence: Purchase or limited cash out refinance
              %tr.matrix-category
                %td
                  Property Type
                %td
                  maximum LTV/CLTV /HCLTV Fixed Rate Mortgage
                %td
                  maximum LTV/CLTV /HCLTV Adjustable Rate Mortgage
              %tr
                %td
                  1 Unit
                %td
                  90%
                %td
                  80%
            %tbody
              %thead  
                %tr
                  %td{:colspan => "3"}
                    Secondary Residence: cash out refinance
              %tr.matrix-category
                %td
                  Property Type
                %td
                  maximum LTV/CLTV /HCLTV Fixed Rate Mortgage
                %td
                  maximum LTV/CLTV /HCLTV Adjustable Rate Mortgage
              %tr
                %td
                  1 Unit
                %td
                  75%
                %td
                  65%
            %tbody
              %thead  
                %tr
                  %td{:colspan => "3"}
                    investment property : Purchase
              %tr.matrix-category
                %td
                  Property Type
                %td
                  maximum LTV/CLTV /HCLTV
                  Fixed Rate Mortgage
                %td
                  maximum LTV/CLTV /HCLTV
                  Adjustable Rate Mortgage
              %tr
                %td
                  1 Unit
                %td
                  85%
                %td
                  75%
              %tr
                %td
                  2–4 Units
                %td
                  75%
                %td
                  65%
            %tbody
              %thead  
                %tr
                  %td{:colspan => "3"}
                    investment property : Limited cash out refinance
              %tr.matrix-category
                %td
                  Property Type
                %td
                  maximum LTV/CLTV /HCLTV
                  Fixed Rate Mortgage
                %td
                  maximum LTV/CLTV /HCLTV
                  Adjustable Rate Mortgage
              %tr
                %td
                  1–4 Units
                %td
                  75%
                %td
                  65%
            %tbody
              %thead  
                %tr
                  %td{:colspan => "3"}
                    investment property : Purchase
              %tr.matrix-category
                %td
                  Property Type
                %td
                  maximum LTV/CLTV /HCLTV
                  Fixed Rate Mortgage
                %td
                  maximum LTV/CLTV /HCLTV
                  Adjustable Rate Mortgage
              %tr
                %td
                  1 Unit
                %td
                  75%
                %td
                  65%
              %tr
                %td
                  2–4 Units
                %td
                  70%
                %td
                  60%
      %div.collapse__header
        HomeStyle Renovation® - Desktop Underwriter
        %span.arrow
      %div.collapse__content
        .matrices
          %table
            %tbody
              %thead  
                %tr
                  %td{:colspan => "4"}
                    Homestyle Renovation Mortgage: PRIMARY Residence
              %tr.matrix-category
                %td
                  Transaction type
                %td
                  Property Type
                %td
                  maximum LTV/CLTV /HCLTV
                  Fixed Rate Mortgage
                %td
                  maximum LTV/CLTV /HCLTV
                  Adjustable Rate Mortgage
              %tr
                %td{:rowspan => "3"}
                  Purchase or
                  Limited Cash Out Refinance
                %td
                  1 Unit
                %td
                  95%
                %td
                  90%
              %tr
                %td
                  2 Units
                %td
                  85%
                %td
                  75%
              %tr
                %td
                  3–4 Units
                %td
                  75%
                %td
                  65%
            %tbody
              %thead  
                %tr
                  %td{:colspan => "4"}
                    Homestyle Renovation Mortgage: secondary Residence
              %tr.matrix-category
                %td
                  Transaction type
                %td
                  Property Type
                %td
                  maximum LTV/CLTV /HCLTV
                  Fixed Rate Mortgage
                %td
                  maximum LTV/CLTV /HCLTV
                  Adjustable Rate Mortgage
              %tr
                %td
                  Purchase or
                  Limited Cash Out Refinance
                %td
                  1 Unit
                %td
                  90%
                %td
                  80%
            %tbody
              %thead  
                %tr
                  %td{:colspan => "4"}
                    Homestyle Renovation Mortgage: investment property
              %tr.matrix-category
                %td
                  Transaction type
                %td
                  Property Type
                %td
                  maximum LTV/CLTV /HCLTV
                  Fixed Rate Mortgage
                %td
                  maximum LTV/CLTV /HCLTV
                  Adjustable Rate Mortgage
              %tr
                %td
                  Purchase
                %td
                  1 Unit
                %td
                  85%
                %td
                  75%
              %tr
                %td
                  Limited Cash Out Refinance
                %td
                  1 Unit
                %td
                  75%
                %td
                  65%
            %tbody
              %thead  
                %tr
                  %td{:colspan => "4"}
                    manufactured housing: PRIMARY Residence
              %tr.matrix-category
                %td
                  Transaction type
                %td
                  Property Type
                %td
                  maximum LTV/CLTV /HCLTV
                  Fixed Rate Mortgage
                %td
                  maximum LTV/CLTV /HCLTV
                  Adjustable Rate Mortgage
              %tr
                %td
                  Purchase or
                  Limited Cash Out Refinance
                %td
                  1 Unit
                %td
                  95%
                %td
                  90%
              %tr
                %td
                  Cash Out Refinance
                %td
                  1 Unit (Term ≤ 20 Years)
                %td
                  65%
                %td
                  60%
            %tbody
              %thead  
                %tr
                  %td{:colspan => "4"}
                    manufactured housing: secondary Residence
              %tr.matrix-category
                %td
                  Transaction type
                %td
                  Property Type
                %td
                  maximum LTV/CLTV /HCLTV
                  Fixed Rate Mortgage
                %td
                  maximum LTV/CLTV /HCLTV
                  Adjustable Rate Mortgage
              %tr
                %td
                  Purchase or
                  Limited Cash Out Refinance
                %td
                  1 Unit
                %td
                  90%
                %td
                  80%
            %tbody
              %thead  
                %tr
                  %td{:colspan => "4"}
                    my-community-Mortgage: PRIMARY Residence
              %tr.matrix-category
                %td
                  Transaction type
                %td
                  Property Type
                %td
                  maximum LTV/CLTV /HCLTV
                  Fixed Rate Mortgage
                %td
                  maximum LTV/CLTV /HCLTV
                  Adjustable Rate Mortgage
              %tr
                %td
                  Purchase
                %td
                  1 Unit
                %td
                  97%
                %td
                  90%
              %tr
                %td
                  Limited Cash-Out Refinance
                %td
                  1 Unit
                %td
                  95%
                %td
                  90%
              %tr
                %td{:rowspan => "2"}
                  Purchase or
                  Limited Cash Out Refinance
                %td
                  2 Units
                %td
                  95%
                %td
                  90%
              %tr
                %td
                  3–4 Units
                %td
                  95%
                %td
                  –
      %div.collapse__header
        Standard Eligibility Requirements - Manual Underwriting
        %span.arrow
      %div.collapse__content
        .matrices
          %table
            %tbody
              %thead  
                %tr
                  %td{:colspan => "7"}
                    Primary Residence: Purchase or limited cash out refinance
              %tr.matrix-category
                %td
                  Property
                  Type
                %td
                  maximum
                  LTV/CLTV/
                  HCLTV FRM
                %td
                  maximum
                  LTV/CLTV/
                  HCLTV ARM
                %td
                  Fico score/LTV
                  Max DTI
                  ≤
                  36%
                %td
                  Minimum
                  Reserves
                  Max DTI
                  ≤
                  36%
                %td
                  Fico score/LTV
                  Max DTI
                  ≤
                  45%
                %td
                  minimum reserves
                  Max DTI
                  ≤
                  45%
              %tr
                %td{:rowspan => "2"}
                  %span 1 Unit
                %td{:rowspan => "2"}
                  %span 95%
                %td{:rowspan => "2"}
                  %span 90%
                %td
                  %span FRM: 680 if &gt; 75%
                  %span FRM: 620 if ≤ 75%
                  %span ARM: 680 if &gt; 75%
                  %span ARM: 640 if ≤ 75%
                %td
                  %span 0
                %td
                  %span 700 if &gt; 75%
                  %span 640 if ≤ 75%
                %td
                  %span 0
              %tr
                %td
                  %span 660 if &gt; 75%
                %td
                  %span 6
                %td
                  %span 680 if &gt; 75%
                  %span 620 if ≤ 75%
                  %span 680 if &gt; 75%
                %td
                  %span 2
              %tr
                %td{:rowspan => "2"}
                  %span 2 Units
                %td{:rowspan => "2"}
                  %span 85%
                %td{:rowspan => "2"}
                  %span 75%
                %td{:rowspan => "2"}
                  %span 680 if &gt; 75%
                  %span 640 if ≤ 75%
                %td{:rowspan => "2"}
                  %span 6
                %td
                  %span 700 if &gt; 75%
                  %span 660 if ≤ 75%
                %td
                  %span 6
              %tr
                %td
                  %span 680 if &gt; 75%
                  %span 640 if ≤ 75%
                %td
                  %span 12
              %tr
                %td{:rowspan => "2"}
                  %span 3–4 Units
                %td{:rowspan => "2"}
                  %span 75%
                %td{:rowspan => "2"}
                  %span 65%
                %td{:rowspan => "2"}
                  %span 660
                %td{:rowspan => "2"}
                  %span 6
                %td
                  680
                %td
                  %span 6
              %tr
                %td
                  %span 660
                %td
                  %span 12
            %tbody
              %thead  
                %tr
                  %td{:colspan => "7"}
                    Primary Residence: cash out refinance
              %tr.matrix-category
                %td
                  Property
                  Type
                %td
                  maximum
                  LTV/CLTV /HCLTV
                  FRM
                %td
                  maximum
                  LTV/CLTV /HCLTV
                  ARM
                %td
                  Fico score/LTV
                  Max DTI
                  ≤
                  36%
                %td
                  Minimum
                  Reserves
                  Max DTI
                  ≤
                  36%
                %td
                  Fico score/LTV
                  Max DTI
                  ≤
                  45%
                %td
                  minimum reserves
                  Max DTI
                  ≤
                  45%
              %tr
                %td{:rowspan => "2"}
                  %span 1 Unit
                %td{:rowspan => "2"}
                  %span 80%
                %td{:rowspan => "2"}
                  %span 75%
                %td{:rowspan => "2"}
                  %span 680 if &gt; 75%
                  %span 640 if ≤ 75%
                %td{:rowspan => "2"}
                  %span 2
                %td
                  %span 700 if &gt; 75%
                  %span 660 if ≤ 75%
                %td
                  %span 2
              %tr
                %td
                  %span 680 if &gt; 75%
                  %span 640 if ≤ 75%
                %td
                  %span 12
              %tr
                %td{:rowspan => "2"}
                  %span 2–4 Units
                %td{:rowspan => "2"}
                  %span 75%
                %td{:rowspan => "2"}
                  %span 65%
                %td{:rowspan => "2"}
                  %span 680
                %td{:rowspan => "2"}
                  %span 2
                %td
                  700
                %td
                  %span 2
              %tr
                %td
                  %span 680
                %td
                  %span 12
            %tbody
              %thead  
                %tr
                  %td{:colspan => "7"}
                    secondary Residence: Purchase or limited cash out refinance
              %tr.matrix-category
                %td
                  Property
                  Type
                %td
                  maximum
                  LTV/CLTV /HCLTV
                  FRM
                %td
                  maximum
                  LTV/CLTV /HCLTV
                  ARM
                %td
                  Fico score/LTV
                  Max DTI
                  ≤
                  36%
                %td
                  Minimum
                  Reserves
                  Max DTI
                  ≤
                  36%
                %td
                  Fico score/LTV
                  Max DTI
                  ≤
                  45%
                %td
                  minimum
                  Max DTI
                  ≤
                  45%
              %tr
                %td{:rowspan => "2"}
                  %span 1 Unit
                %td{:rowspan => "2"}
                  %span 90%
                %td{:rowspan => "2"}
                  %span 80%
                %td{:rowspan => "2"}
                  %span 680 if &gt; 75%
                  %span 640 if ≤ 75%
                %td{:rowspan => "2"}
                  %span 2
                %td
                  %span 700 if &gt; 75%
                  %span 660 if ≤ 75%
                %td
                  %span 2
              %tr
                %td
                  %span 680 if &gt; 75%
                  %span 640 if ≤ 75%
                %td
                  %span 12
            %tbody
              %thead  
                %tr
                  %td{:colspan => "7"}
                    secondary Residence: cash out refinance
              %tr.matrix-category
                %td
                  Property
                  Type
                %td
                  maximum
                  LTV/CLTV /HCLTV
                  FRM
                %td
                  maximum
                  LTV/CLTV /HCLTV
                  ARM
                %td
                  Fico score/LTV
                  Max DTI
                  ≤
                  36%
                %td
                  Minimum
                  Reserves
                  Max DTI
                  ≤
                  36%
                %td
                  Fico score/LTV
                  Max DTI
                  ≤
                  45%
                %td
                  minimum reserves
                  Max DTI
                  ≤
                  45%
              %tr
                %td{:rowspan => "2"}
                  %span 1 Unit
                %td{:rowspan => "2"}
                  %span 75%
                %td{:rowspan => "2"}
                  %span 65%
                %td{:rowspan => "2"}
                  %span 680
                %td{:rowspan => "2"}
                  %span 2
                %td
                  %span 700
                %td
                  %span 2
              %tr
                %td
                  %span 680
                %td
                  %span 12
            %tbody
              %thead  
                %tr
                  %td{:colspan => "7"}
                    investment property: purchase
              %tr.matrix-category
                %td
                  Property
                  Type
                %td
                  maximum
                  LTV/CLTV /HCLTV
                  FRM
                %td
                  maximum
                  LTV/CLTV /HCLTV
                  ARM
                %td
                  Fico score/LTV
                  Max DTI
                  ≤
                  36%
                %td
                  Minimum
                  Reserves
                  Max DTI
                  ≤
                  36%
                %td
                  Fico score/LTV
                  Max DTI
                  ≤
                  45%
                %td
                  minimum reserves
                  Max DTI
                  ≤
                  45%
              %tr
                %td{:rowspan => "2"}
                  %span 1 Unit
                %td{:rowspan => "2"}
                  %span 85%
                %td{:rowspan => "2"}
                  %span 75%
                %td{:rowspan => "2"}
                  %span 680 if &gt; 75%
                  %span 640 if ≤ 75%
                %td{:rowspan => "2"}
                  %span 6
                %td
                  %span 700 if &gt; 75%
                  %span 660 if ≤ 75%
                %td
                  %span 6
              %tr
                %td
                  %span 680 if &gt; 75%
                  %span 640 if ≤ 75%
                %td
                  %span 12
              %tr
                %td{:rowspan => "2"}
                  %span 2–4 Units
                %td{:rowspan => "2"}
                  %span 75%
                %td{:rowspan => "2"}
                  %span 65%
                %td{:rowspan => "2"}
                  %span 660
                %td{:rowspan => "2"}
                  %span 6
                %td
                  %span 680
                %td
                  %span 6
              %tr
                %td
                  %span 660
                %td
                  %span 12
            %tbody
              %thead  
                %tr
                  %td{:colspan => "7"}
                    investment property: limited cash out refinance
              %tr.matrix-category
                %td
                  Property
                  Type
                %td
                  maximum
                  LTV/CLTV /HCLTV
                  FRM
                %td
                  maximum
                  LTV/CLTV /HCLTV
                  ARM
                %td
                  Fico score/LTV
                  Max DTI
                  ≤
                  36%
                %td
                  Minimum
                  Reserves
                  Max DTI
                  ≤
                  36%
                %td
                  Fico score/LTV
                  Max DTI
                  ≤
                  45%
                %td
                  minimum reserves
                  Max DTI
                  ≤
                  45%
              %tr
                %td{:rowspan => "2"}
                  %span 1 Unit
                %td{:rowspan => "2"}
                  %span 75%
                %td{:rowspan => "2"}
                  %span 65%
                %td{:rowspan => "2"}
                  %span 660
                %td{:rowspan => "2"}
                  %span 6
                %td
                  %span 680
                %td
                  %span 6
              %tr
                %td
                  %span 660
                %td
                  %span 12
              %tr
                %td{:rowspan => "2"}
                  %span 2–4 Units
                %td{:rowspan => "2"}
                  %span 75%
                %td{:rowspan => "2"}
                  %span 65%
                %td{:rowspan => "2"}
                  %span 680
                %td{:rowspan => "2"}
                  %span 6
                %td
                  %span 700
                %td
                  %span 6
              %tr
                %td
                  %span 680
                %td
                  %span 12
            %tbody
              %thead  
                %tr
                  %td{:colspan => "7"}
                    investment property: cash out refinance
              %tr.matrix-category
                %td
                  Property
                  Type
                %td
                  maximum
                  LTV/CLTV /HCLTV
                  FRM
                %td
                  maximum
                  LTV/CLTV /HCLTV
                  ARM
                %td
                  Fico score/LTV
                  Max DTI
                  ≤
                  36%
                %td
                  Minimum
                  Reserves
                  Max DTI
                  ≤
                  36%
                %td
                  Fico score/LTV
                  Max DTI
                  ≤
                  45%
                %td
                  minimum reserves
                  ≤
                  45%
              %tr
                %td{:rowspan => "2"}
                  %span 1 Unit
                %td{:rowspan => "2"}
                  %span 75%
                %td{:rowspan => "2"}
                  %span 65%
                %td{:rowspan => "2"}
                  %span 700
                %td{:rowspan => "2"}
                  %span 6
                %td
                  %span 720
                %td
                  %span 6
              %tr
                %td
                  %span 700
                %td
                  %span 12
              %tr
                %td{:rowspan => "2"}
                  %span 2–4 Units
                %td{:rowspan => "2"}
                  %span 70%
                %td{:rowspan => "2"}
                  %span 60%
                %td{:rowspan => "2"}
                  %span 700
                %td{:rowspan => "2"}
                  %span 6
                %td
                  %span 720
                %td
                  %span 6
              %tr
                %td
                  %span 700
                %td
                  %span 12
      %div.collapse__header
        High-Balance - Manual Underwriting and Desktop Underwriter
        %span.arrow
      %div.collapse__content
        .matrices
          %table
            %tbody
              %thead  
                %tr
                  %td{:colspan => "8"}
                    PRIMARY Residence: Standard, homestyle renovation, &amp; my-community-Mortgage
              %tr.matrix-category
                %td
                  Transaction type
                %td
                  Property
                  Type
                %td
                  maximum
                  LTV/CLTV /HCLTV
                  FRM
                %td
                  maximum
                  LTV/CLTV /HCLTV
                  ARM
                %td
                  Fico score/LTV
                  Max DTI
                  ≤
                  36%
                %td
                  Minimum
                  Reserves
                  Max DTI
                  ≤
                  36%
                %td
                  Fico score/LTV
                  Max DTI
                  ≤
                  45%
                %td
                  minimum reserves
                  Max DTI
                  ≤
                  45%
              %tr
                %td{:rowspan => "4"}
                  Purchase or
                  Limited Cash Out Refinance
                %td{:rowspan => "2"}
                  1 Unit
                %td{:rowspan => "2"}
                  90%
                %td{:rowspan => "2"}
                  75%
                %td
                  FRM: 680 &gt; 75%
                  FRM: 640
                  ≤
                  75%
                  ARM: 660
                %td
                  0
                %td
                  FRM: 700 &gt; 75%
                  FRM: 660 if
                  ≤
                  75%
                  ARM: 680
                %td
                  0
              %tr
                %td
                  FRM: 660 &gt; 75%
                  FRM: 620
                  ≤
                  75%
                  ARM: 640
                %td
                  6
                %td
                  FRM: 680 &gt; 75%
                  FRM: 640
                  ≤
                  75%
                  ARM: 660
                %td
                  2
              %tr
                %td{:rowspan => "2"}
                  2–4 Units
                %td{:rowspan => "2"}
                  75%
                %td{:rowspan => "2"}
                  65%
                %td{:rowspan => "2"}
                  720
                %td{:rowspan => "2"}
                  6
                %td
                  740
                %td
                  6
              %tr
                %td
                  720
                %td
                  12
            %tbody
              %thead  
                %tr
                  %td{:colspan => "8"}
                    PRIMARY Residence: Standard
              %tr.matrix-category
                %td
                  Transaction type
                %td
                  Property
                  Type
                %td
                  maximum
                  LTV/CLTV /HCLTV
                  FRM
                %td
                  maximum
                  LTV/CLTV /HCLTV
                  ARM
                %td
                  Fico score/LTV
                  Max DTI
                  ≤
                  36%
                %td
                  Minimum
                  Reserves
                  Max DTI
                  ≤
                  36%
                %td
                  Fico score/LTV
                  Max DTI
                  ≤
                  45%
                %td
                  minimum reserves
                  Max DTI
                  ≤
                  45%
              %tr
                %td{:rowspan => "2"}
                  Cash Out Refinance
                %td{:rowspan => "2"}
                  1 Unit
                %td{:rowspan => "2"}
                  60%
                %td{:rowspan => "2"}
                  60%
                %td{:rowspan => "2"}
                  720
                %td{:rowspan => "2"}
                  0
                %td
                  740
                %td
                  0
              %tr
                %td
                  720
                %td
                  2
            %tbody
              %thead  
                %tr
                  %td{:colspan => "8"}
                    PRIMARY Residence: manufactured housing (Desktop Underwriter only)
              %tr.matrix-category
                %td
                  Transaction type
                %td
                  Property
                  Type
                %td
                  maximum
                  LTV/CLTV /HCLTV
                  FRM
                %td
                  maximum
                  LTV/CLTV /HCLTV
                  ARM
                %td
                  Fico score/LTV
                  Max DTI
                  ≤
                  36%
                %td
                  Minimum
                  Reserves
                  Max DTI
                  ≤
                  36%
                %td
                  Fico score/LTV
                  Max DTI
                  ≤
                  45%
                %td
                  minimum reserves
                  Max DTI
                  ≤
                  45%
              %tr
                %td
                  Purchase or Limited Cash Out Refinance
                %td
                  1 Unit
                %td
                  90%
                %td
                  75%
                %td{:colspan => "4", :rowspan => "2"}
                  N/A
              %tr
                %td
                  Cash Out Refinance
                %td
                  1 Unit
                  (term
                  ≤
                  20 years)
                %td
                  60%
                %td
                  60%
            %tbody
              %thead  
                %tr
                  %td{:colspan => "8"}
                    secondary Residence: Standard &amp; homestyle renovation
              %tr.matrix-category
                %td
                  Transaction type
                %td
                  Property
                  Type
                %td
                  maximum
                  LTV/CLTV /HCLTV
                  FRM
                %td
                  maximum
                  LTV/CLTV /HCLTV
                  ARM
                %td
                  Fico score/LTV
                  Max DTI
                  ≤
                  36%
                %td
                  Minimum
                  Reserves
                  Max DTI
                  ≤
                  36%
                %td
                  Fico score/LTV
                  Max DTI
                  ≤
                  45%
                %td
                  minimum reserves
                  Max DTI
                  ≤
                  45%
              %tr
                %td{:rowspan => "2"}
                  Purchase or Limited Cash Out Refinance
                %td{:rowspan => "2"}
                  1 Unit
                %td{:rowspan => "2"}
                  65%
                %td{:rowspan => "2"}
                  65%
                %td{:rowspan => "2"}
                  720
                %td{:rowspan => "2"}
                  2
                %td
                  740
                %td
                  2
              %tr
                %td
                  720
                %td
                  12
            %tbody
              %thead  
                %tr
                  %td{:colspan => "8"}
                    secondary Residence: manufactured housing (Desktop Underwriter only)
              %tr.matrix-category
                %td
                  Transaction type
                %td
                  Property
                  Type
                %td
                  maximum
                  LTV/CLTV /HCLTV
                  FRM
                %td
                  maximum
                  LTV/CLTV /HCLTV
                  ARM
                %td
                  Fico score/LTV
                  Max DTI
                  ≤
                  36%
                %td
                  Minimum
                  Reserves
                  Max DTI
                  ≤
                  36%
                %td
                  Fico score/LTV
                  Max DTI
                  ≤
                  45%
                %td
                  minimumreserves
                  Max DTI
                  ≤
                  45%
              %tr
                %td
                  Purchase or
                  Limited Cash Out Refinance
                %td
                  1 Unit
                %td
                  65%
                %td
                  65%
                %td{:colspan => "4"}
                  N/A
            %tbody
              %thead  
                %tr
                  %td{:colspan => "8"}
                    investment property: Standard
              %tr.matrix-category
                %td
                  Transaction type
                %td
                  Property
                  Type
                %td
                  maximum
                  LTV/CLTV /HCLTV
                  FRM
                %td
                  maximum
                  LTV/CLTV /HCLTV
                  ARM
                %td
                  Fico score/LTV
                  Max DTI
                  ≤
                  36%
                %td
                  Minimum
                  Reserves
                  Max DTI
                  ≤
                  36%
                %td
                  Fico score/LTV
                  Max DTI
                  ≤
                  45%
                %td
                  minimum reserves
                  Max DTI
                  ≤
                  45%
              %tr
                %td{:rowspan => "2"}
                  Purchase or Limited Cash Out Refinance
                %td{:rowspan => "2"}
                  1–4 Units
                %td{:rowspan => "2"}
                  65%
                %td{:rowspan => "2"}
                  65%
                %td{:rowspan => "2"}
                  720
                %td{:rowspan => "2"}
                  6
                %td
                  740
                %td
                  6
              %tr
                %td
                  720
                %td
                  12
            %tbody
              %thead  
                %tr
                  %td{:colspan => "8"}
                    investment property: homestyle renovation
              %tr.matrix-category
                %td
                  Transaction type
                %td
                  Property
                  Type
                %td
                  maximum
                  LTV/CLTV /HCLTV
                  FRM
                %td
                  maximum
                  LTV/CLTV /HCLTV
                  ARM
                %td
                  Fico score/LTV
                  Max DTI
                  ≤
                  36%
                %td
                  Minimum
                  Reserves
                  Max DTI
                  ≤
                  36%
                %td
                  Fico score/LTV
                  Max DTI
                  ≤
                  45%
                %td
                  minimum reserves
                  Max DTI
                  ≤
                  45%
              %tr
                %td{:rowspan => "2"}
                  Purchase or Limited Cash Out Refinance
                %td{:rowspan => "2"}
                  1 Unit
                %td{:rowspan => "2"}
                  65%
                %td{:rowspan => "2"}
                  65%
                %td{:rowspan => "2"}
                  720
                %td{:rowspan => "2"}
                  6
                %td
                  740
                %td
                  6
              %tr
                %td
                  720
                %td
                  12
    %h2.heading.mb0
      Freddie/LP Conforming
    %a.link--red.download-link{:href=> "http://www.freddiemac.com/singlefamily/guide/"}
      Download Full Guidelines
    .collapse
      %div.collapse__header
        Freddie Mac/LP Conforming
        %span.arrow
      %div.collapse__content
        .matrices
          %table
            %tbody
              %thead  
                %tr
                  %td{:colspan => "3", :dir => "ltr"} Primary Residence: Purchase &amp; Rate/Term Refinance
              %tr.matrix-category
                %td Property Type
                %td LTV/CLTV
                %td
                  Minimum Fico Score
              %tr
                %td 1 Unit
                %td 95%
                %td{:dir => "ltr", :rowspan => "3"} AUS Cert w/620
              %tr
                %td 2 Unit
                %td 80%
              %tr
                %td 3-4 Unit
                %td 80%
              %thead
                %tr
                  %td{:colspan => "3", :dir => "ltr"} Primary Residence: Cash-Out Refinance
              %tr.matrix-category
                %td
                  Maximum LTV/CLTV /HCLTV
                %td LTV/CLTV
                %td
                  Minimum Fico Score
              %tr
                %td 1 Unit
                %td 80%
                %td{:dir => "ltr", :rowspan => "3"} AUS Cert w/620
              %tr
                %td 2 Unit
                %td 75%
              %tr
                %td 3-4 Unit
                %td 75%
              %thead  
                %tr
                  %td{:colspan => "3", :dir => "ltr"} econdary Residence: Purchase &amp; Rate/Term Refinance
              %tr.matrix-category
                %td
                  Maximum LTV/CLTV /HCLTV
                %td LTV/CLTV
                %td
                  Minimum Fico Score
              %tr
                %td
                  1 Unit (Purchase)
                %td 85%
                %td{:dir => "ltr", :rowspan => "2"} AUS Cert w/ 620
              %tr
                %td
                  1 Unit (R/T Refinance)
                %td 85%
              %thead  
                %tr
                  %td{:colspan => "3", :dir => "ltr"} Secondary Residence: Cash-Out Refinance
              %tr.matrix-category
                %td
                  Maximum LTV/CLTV /HCLTV
                %td
                  LTV/CLTV
                %td
                  Minimum Fico Score
              %tr
                %td 1 Unit
                %td 75%
                %td AUS Cert w/620
      %div.collapse__header
        Freddie/LP Super Conforming
        %span.arrow
      %div.collapse__content
        .matrices
          %table
            %tbody
              %thead
                %tr
                  %td{:colspan => "4"}
                    Primary Residence
              %tr.matrix-category
                %td
                  Transaction Type
                %td
                  Property Type
                %td
                  maximum LTV/CLTV
                %td
                  minimum fico score
              %tr
                %td{:rowspan => "2"}
                  Purchase or Rate/Term
                  &lt; $625,500
                %td
                  1 Unit
                %td
                  90%
                %td{:rowspan => "6"}
                  620
              %tr
                %td
                  2–4 Units
                %td
                  75%
              %tr
                %td{:rowspan => "2"}
                  Cash Out Refinance
                  &lt; $625,500
                %td
                  1 Unit
                %td
                  75%
              %tr
                %td
                  2–4 Units
                %td
                  65%
              %tr
                %td
                  Purchase or Rate/Term &gt; $625,500
                %td
                  1 Unit
                %td
                  80%
              %tr
                %td
                  Cash Out Refinance &gt; $625,500
                %td
                  1 Unit
                %td
                  65%
          %table
            %tbody
              %thead
                %tr
                  %td{:colspan => "4"}
                    secondary
                    Residence
              %tr.matrix-category
                %td
                  Transaction Type
                %td
                  Property Type
                %td
                  maximum LTV/CLTV
                %td
                  minimum fico score
              %tr
                %td
                  Purchase or Rate/Term &lt; $625,500
                %td
                  1 Unit
                %td
                  80%
                %td{:rowspan => "4"}
                  620
              %tr
                %td
                  Cash Out Refinance &lt; $625,500
                %td
                  1 Unit
                %td
                  65%
              %tr
                %td
                  Purchase or Rate/Term &gt; $625,500
                %td
                  1 Unit
                %td
                  70%
              %tr
                %td
                  Cash Out Refinance &gt; $625,500
                %td
                  1 Unit
                %td
                  65%
          %table
            %tbody
              %thead
                %tr
                  %td{:colspan => "4"}
                    investment property
              %tr.matrix-category
                %td
                  Transaction Type
                %td
                  Property Type
                %td
                  maximum LTV/CLTV
                %td
                  minimum fico score
              %tr
                %td{:rowspan => "2"}
                  Purchase or Rate/Term &lt; $625,500
                %td
                  1 Unit
                %td
                  80% &amp;75%)
                %td{:rowspan => "5"}
                  620
              %tr
                %td
                  2–4 Units
                %td
                  70%
              %tr
                %td
                  Cash Out Refinance &lt; $625,500
                %td
                  1–4 Units
                %td
                  65%
              %tr
                %td
                  Purchase or Rate/Term &gt; $625,500
                %td
                  1 Unit
                %td
                  70%
              %tr
                %td
                  Cash Out Refinance &gt; $625,500
                %td
                  1 Unit
                %td
                  65%
= render "page_body"