- content_for :loan_programs_body do
  %article.sub-page-content
    %h2.sub-title
      HARP Loans
    %p.slogan
      HARP 2.0/DU Refi Plus allows you to refinance Fannie Mae serviced loans.
    %h2.heading.mb15--force
      Optional Terms:
    %ul.order--number.mb40
      %li
        Up to 175% LTV/Unlimited CLTV
      %li
        No DTI restrictions (approve/eligible findings)
      %li
        Property inspection waivers are accepted
      %li
        Condos and high balance loans are eligible up to 125% LTV/CLTV
    %section.inner-wrap
      %h2.heading.mb0
        DU Refi Plus
      %a.link--red.download-link{:href=> "#"}
        Download Full Guidelines
      .collapse
        %div.collapse__header
          DU Refi Plus
          %span.arrow
        %div.collapse__content
          .matrices
            %table
              %tbody
                %thead  
                  %tr
                    %td{:colspan => "3"} Primary Residence: Limited Cash-Out Refinance, Fixed Rate
                %tr.matrix-category
                  %td Property Type
                  %td Maximum LTV
                  %td Minimum Fico Score
                %tr
                  %td 1-4 Unit
                  %td No Limit
                  %td No Minimum
                %thead  
                  %tr
                    %td{:colspan => "3"} Primary Residence: Limited Cash-Out Refinance, ARMs with Initial Fixed Periods &ge; 5 Years
                %tr.matrix-category
                  %td Property Type
                  %td Maximum LTV
                  %td Minimum Fico Score
                %tr
                  %td 1-4 Unit
                  %td 105%
                  %td No Minimum
                %thead  
                  %tr
                    %td{:colspan => "3"} Secondary Residence: Limited Cash-Out Refinance, Fixed Rate
                %tr.matrix-category
                  %td Property Type
                  %td Maximum LTV
                  %td Minimum Fico Score
                %tr
                  %td 1 Unit
                  %td No Limit
                  %td No Minimum
                %thead  
                  %tr
                    %td{:colspan => "3"} Secondary Residence: Limited Cash-Out Refinance, ARMS with Initial Fixed Period &ge; 5 Years
                %tr.matrix-category
                  %td Property Type
                  %td Maximum LTV
                  %td Minimum Fico Score
                %tr
                  %td 1-4 Unit
                  %td No Limit
                  %td No Minimum
                %thead  
                  %tr
                    %td{:colspan => "3"} Investment Property: Limited Cash-Out Refinance, Fixed Rate
                %tr.matrix-category
                  %td Property Type
                  %td Maximum LTV
                  %td Minimum Fico Score
                %tr
                  %td 1-4 Unit
                  %td No Limit
                  %td No Minimum
                %thead  
                  %tr
                    %td{:colspan => "3"} Investment Property: Limited Cash-Out Refinance, ARMS with Initial Fixed Period &ge; 5
                %tr.matrix-category
                  %td Property Type
                  %td Maximum LTV
                  %td Minimum Fico Score
                %tr
                  %td 1 Unit
                  %td 105%
                  %td No Minimum
      %h2.heading.mb0
        Open Access
      %a.link--red.download-link{:href=> "#"}
        Download Full Guidelines
      .collapse
        %div.collapse__header
          Open Access
          %span.arrow
        %div.collapse__content
          .matrices
            %table
              %tbody
                %thead  
                  %tr
                    %td{:colspan => "3"}
                      Primary Residence: Rate/Term Refinance (FRM Only)
                %tr.matrix-category
                  %td
                    property Type
                  %td
                    maximum LTV/CLTV
                  %td
                    minimum fico score
                %tr
                  %td{:rowspan => "2"}
                    1–4 Units
                  %td
                    135%
                  %td{:rowspan => "2"}
                    No Minimum
                %tr
                  %td
                    105%
                %thead  
                  %tr
                    %td{:colspan => "3"} Secondary Residence: Rate/Term Refinance (FRM Only)
                %tr
                  %td
                    1 Unit
                  %td
                    105%
                  %td
                    No Minimum
                %thead  
                  %tr
                    %td{:colspan => "3"}
                      Investment Property: Rate/Term Refinance (FRM Only)
                %tr
                  %td
                    1–4 Units
                  %td
                    105%
                  %td
                    No Minimum
            %table
              %tbody    
                %thead  
                  %tr
                    %td{:colspan => "4"}
                      Maximum Loan Amounts
                %tr.matrix-category
                  %td
                    Mortgage
                  %td
                    Units
                  %td
                    Contiguous States / D.C.
                  %td
                    Alaska, Hawaii
                %tr
                  %td{:rowspan => "4"}
                    Conforming
                  %td
                    1 Unit
                  %td
                    $417,000
                  %td
                    $625,500
                %tr
                  %td
                    2 Units
                  %td
                    $533,850
                  %td
                    $800,775
                %tr
                  %td
                    3 Units
                  %td
                    $645,300
                  %td
                    $967,950
                %tr
                  %td
                    4 Units
                  %td
                    $801,950
                  %td
                    $1,202,925
                %tr
                  %td{:rowspan => "4"}
                    Super Conforming Mortgages
                  %td
                    1 Unit
                  %td
                    $625,500
                  %td
                    $9388,250
                %tr
                  %td
                    2 Units
                  %td
                    $800,775
                  %td
                    $1,201,150
                %tr
                  %td
                    3 Units
                  %td
                    $967,950
                  %td
                    $1,451,925
                %tr
                  %td
                    4 Units
                  %td
                    $1,202,925
                  %td
                    $1,804,375
        %div.collapse__header
          Freddie/LP Super Conforming
          %span.arrow
        %div.collapse__content
          .matrices  
            %table
              %tbody
                %thead
                  %tr
                    %td{:colspan => "4"}
                      Primary Residence
                %tr.matrix-category
                  %td
                    Transaction Type
                  %td
                    Property Type
                  %td
                    maximum LTV/CLTV
                  %td
                    minimum fico score
                %tr
                  %td{:rowspan => "2"}
                    Purchase or Rate/Term
                    &lt; $625,500
                  %td
                    1 Unit
                  %td
                    90%
                  %td{:rowspan => "6"}
                    620
                %tr
                  %td
                    2–4 Units
                  %td
                    75%
                %tr
                  %td{:rowspan => "2"}
                    Cash Out Refinance
                    &lt; $625,500
                  %td
                    1 Unit
                  %td
                    75%
                %tr
                  %td
                    2–4 Units
                  %td
                    65%
                %tr
                  %td
                    Purchase or Rate/Term &gt; $625,500
                  %td
                    1 Unit
                  %td
                    80%
                %tr
                  %td
                    Cash Out Refinance &gt; $625,500
                  %td
                    1 Unit
                  %td
                    65%
            %table
              %tbody
                %thead
                  %tr
                    %td{:colspan => "4"}
                      Secondary Residence
                %tr.matrix-category
                  %td
                    Transaction Type
                  %td
                    Property Type
                  %td
                    maximum LTV/CLTV
                  %td
                    minimum fico score
                %tr
                  %td
                    Purchase or Rate/Term &lt; $625,500
                  %td
                    1 Unit
                  %td
                    80%
                  %td{:rowspan => "4"}
                    620
                %tr
                  %td
                    Cash Out Refinance &lt; $625,500
                  %td
                    1 Unit
                  %td
                    65%
                %tr
                  %td
                    Purchase or Rate/Term &gt; $625,500
                  %td
                    1 Unit
                  %td
                    70%
                %tr
                  %td
                    Cash Out Refinance &gt; $625,500
                  %td
                    1 Unit
                  %td
                    65%
            %table
              %tbody
                %thead
                  %tr
                    %td{:colspan => "4"}
                      Investment Property
                %tr.matrix-category
                  %td
                    Transaction Type
                  %td
                    Property Type
                  %td
                    maximum LTV/CLTV
                  %td
                    minimum fico score
                %tr
                  %td{:rowspan => "2"}
                    Purchase or Rate/Term &lt; $625,500
                  %td
                    1 Unit
                  %td
                    80% &amp;75%)
                  %td{:rowspan => "5"}
                    620
                %tr
                  %td
                    2–4 Units
                  %td
                    70%
                %tr
                  %td
                    Cash Out Refinance &lt; $625,500
                  %td
                    1–4 Units
                  %td
                    65%
                %tr
                  %td
                    Purchase or Rate/Term &gt; $625,500
                  %td
                    1 Unit
                  %td
                    70%
                %tr
                  %td
                    Cash Out Refinance &gt; $625,500
                  %td
                    1 Unit
                  %td
                    65%
= render "page_body"