- content_for :loan_programs_body do
  %article.sub-page-content
    %h2.sub-title
      Jumbo Loans
    %p.slogan
      %span.fancy_title.last-red CHMW
      provides jumbo loans up to 90% LTV with no PMI and with clear guidelines.
    %h2.heading.mb15--force
      Optional Terms:
    %ul.order--number.mb40
      %li
        720+ FICO
      %li
        $175,000 - county loan limit
      %li
        All fixed term mortgages
      %li
        Single family primary residences
    %h2.heading.mb0
      Jumbo Express
    %a.link--red.download-link{:href=> "#"}
      Download Full Guidelines
    %p.body-text-1
      A Prime Jumbo Credit Product with "make sense" guidelines which looks at the overall credit profile and will consider exceptions to the published guidelines.
    .collapse
      %div.collapse__header
        Express
        %span.arrow
      %div.collapse__content
        .matrices
          %table
            %tbody
              %thead  
                %tr
                  %td{:colspan => "4"} Primary Residence: Purchase
              %tr
                %td Property Type
                %td FICO
                %td
                  Max LTV/CLTV/HCLTV
                %td
                  Max Loan Amount    
              %tr
                %td{:rowspan => "4"} 1 Unit
                %td 760
                %td 85%
                %td $1,000,000
              %tr
                %td{:rowspan => "3"} 720
                %td 80%
                %td $1,500,000
              %tr
                %td 75%
                %td $2,000,000
              %tr
                %td{:rowspan => "2"} 70%
                %td $2,500,000
              %tr
                %td{:rowspan => "2"} $1,000,000
              %tr
                %td{:rowspan => "2"} 2 Units
                %td 700
                %td 65%
              %tr
                %td 720
                %td 60%
                %td $1,500,000
          %table  
            %tbody  
              %thead  
                %tr
                  %td{:colspan => "4"}
                    PRIMARY RESIDENCE: RATE/TERM REFINANCE
              %tr
                %td{:rowspan => "6"} 1 Unit
                %td 760
                %td 85%
                %td{:rowspan => "2"} $1,000,000
              %tr
                %td{:rowspan => "3"} 720
                %td 80%
              %tr
                %td 75%
                %td $1,500,000
              %tr
                %td{:rowspan => "2"} 70%
                %td $2,000,000
              %tr
                %td 700
                %td $1,000,000
              %tr
                %td 720
                %td 60%
                %td $2,500,000
              %tr
                %td{:rowspan => "2"} 2 Units
                %td 700
                %td 65%
                %td $1,000,000
              %tr
                %td 720
                %td 60%
                %td $1,500,000
          %table  
            %tbody  
              %thead  
                %tr
                  %td{:colspan => "5"} PRIMARY RESIDENCE: CASH OUT REFINANCE
              %tr
                %td Property Type
                %td FICO
                %td
                  Max LTV/CLTV/HCLTV
                %td
                  Max Loan Amount
                %td Max Cash Out
              %tr
                %td{:rowspan => "5"} 1 Unit
                %td 720
                %td 70%
                %td{:rowspan => "2"} $1,000,000
                %td{:rowspan => "2"} $250,000
              %tr
                %td 700
                %td{:rowspan => "2"} 65%
              %tr
                %td{:rowspan => "3"} 720
                %td $1,500,000
                %td{:rowspan => "2"} $500,000
              %tr
                %td 60%
                %td $2,000,000
              %tr
                %td 50%
                %td $2,500,000
                %td $750,000
          %table  
            %tbody  
              %thead  
                %tr
                  %td{:colspan => "4"}
                    SECONDARY RESIDENCE: PURCHASE, RATE/TERM REFINANCE
              %tr
                %td Property Type
                %td FICO
                %td
                  Max LTV/CLTV/HCLTV
                %td
                  Max Loan Amount
              %tr
                %td{:rowspan => "5"} 1 Unit
                %td{:rowspan => "5"} 720
                %td 80%
                %td{:rowspan => "2"} $1,000,000
              %tr
                %td 75%
              %tr
                %td 70%
                %td $1,500,000
              %tr
                %td 65%
                %td $2,000,000
              %tr
                %td 50%
                %td $2,500,000
          %table  
            %tbody  
              %thead  
                %tr
                  %td{:colspan => "5"} SECONDARY RESIDENCE: CASH OUT REFINANCE
              %tr
                %td Property Type
                %td FICO
                %td
                  Max LTV/CLTV/HCLTV
                %td
                  Max Loan Amount
                %td Max Cash Out
              %tr
                %td{:rowspan => "3"} 1 Unit
                %td{:rowspan => "3"} 740
                %td 60%
                %td $1,000,000
                %td $250,000
              %tr
                %td 55%
                %td $1,500,000
                %td $500,000
              %tr
                %td 50%
                %td $2,000,000
                %td $750,000
          %table  
            %tbody  
              %thead  
                %tr
                  %td{:colspan => "4"} INVESTMENT PROPERTY: PURCHASE
              %tr
                %td Property Type
                %td FICO
                %td
                  Max LTV/CLTV/HCLTV
                %td
                  Max Loan Amount
              %tr
                %td 1-4 Units
                %td 740
                %td 65%
                %td $1,000,000
              %thead   
                %tr
                  %td{:colspan => "4"} INVESTMENT PROPERTY: RATE/TERM REFINANCE
              %tr
                %td 1-4 Units
                %td 740
                %td 60%
                %td $1,000,000
      %div.collapse__header
        Express Plus (Non-QM)
        %span.arrow
      %div.collapse__content
        .matrices
          %table
            %tbody
              %thead  
                %tr
                  %td{:colspan => "5"} Primary Residence | Purchase, Rate and Term Refinance | 20, 25, 30yr
              %tr.matrix-category
                %td
                  Transation Type
                %td Units
                %td FICO
                %td
                  Maximum LTV/CLTV HCLTV
                %td
                  Maximum Loan Amount
              %tr
                %td{:rowspan => "7"} Purchase
                %td{:rowspan => "5"} 1
                %td 760
                %td 85%
                %td $1,000,000
              %tr
                %td{:rowspan => "3"} 720
                %td 80%
                %td $1,500,000
              %tr
                %td 75%
                %td $2,000,000
              %tr
                %td{:rowspan => "2"} 70%
                %td $2,500,000
              %tr
                %td{:rowspan => "2"} 700
                %td $1,000,000
              %tr
                %td{:rowspan => "2"} 2
                %td 65%
                %td $1,000,000
              %tr
                %td 720
                %td 60%
                %td $1,500,000
              %tr
                %td{:rowspan => "8"} Rate and Term Refinance
                %td{:rowspan => "6"} 1
                %td 760
                %td 85%
                %td $1,000,000
              %tr
                %td{:rowspan => "3"} 720
                %td 80%
                %td $1,000,000
              %tr
                %td 75%
                %td $1,500,000
              %tr
                %td{:rowspan => "2"} 70%
                %td $2,000,000
              %tr
                %td 700
                %td $1,000,000
              %tr
                %td 720
                %td 60%
                %td $2,500,000
              %tr
                %td{:rowspan => "2"} 2
                %td 700
                %td 65%
                %td $1,000,000
              %tr
                %td 720
                %td 60%
                %td $1,500,000
          %table
            %tbody
              %thead  
                %tr
                  %td{:colspan => "6", :dir => "ltr"} Primary Residence | Cash-Out Refinance
              %tr
                %td
                  Transaction Type
                %td Units
                %td FICO
                %td
                  Maximum LTV/ CLTV/HCLTV
                %td
                  Maximum Loan Amount
                %td
                  Maximum Cash-Out
              %tr
                %td{:rowspan => "5"} Cash-Out Refinance
                %td{:rowspan => "5"} 1
                %td 720
                %td 70%
                %td{:rowspan => "2"} $1,000,000
                %td{:rowspan => "2"} $250,000
              %tr
                %td 700
                %td{:rowspan => "2"} 65%
              %tr
                %td{:rowspan => "3"} 720
                %td $1,500,000
                %td{:rowspan => "2"} $500,000
              %tr
                %td 60%
                %td $2,000,000
              %tr
                %td 50%
                %td $2,500,000
                %td $750,000
          %table 
            %tbody
              %thead  
                %tr
                  %td{:colspan => "5", :dir => "ltr"} Second Home
              %tr
                %td
                  Transation Type
                %td Units
                %td FICO
                %td
                  Maximum LTV/CLTV HCLTV
                %td
                  Maximum Loan Amount
              %tr
                %td Purchase
                %td{:rowspan => "5"} 1
                %td{:rowspan => "5"} 720
                %td 80%
                %td{:rowspan => "2"} $1,000,000
              %tr
                %td{:rowspan => "4"} Purchase or Rate and Term Refinance
                %td 75%
              %tr
                %td 70%
                %td $1,500,000
              %tr
                %td 65%
                %td $2,000,000
              %tr
                %td 50%
                %td $2,500,000
          %table
            %tbody
              %thead
                %tr
                  %td{:colspan => "6", :dir => "ltr"} Second Home | Cash-Out Refinance
              %tr
                %td
                  Transaction Type
                %td Units
                %td FICO
                %td
                  Maximum LTV/ CLTV/HCLTV
                %td
                  Maximum Loan Amount
                %td
                  Maximum Cash-Out
              %tr
                %td{:rowspan => "3"} Cash-Out Refinance
                %td{:rowspan => "3"} 1
                %td{:rowspan => "3"} 740
                %td 60%
                %td $1,000,000
                %td $250,000
              %tr
                %td 55%
                %td $1,500,000
                %td $5,000,000
              %tr
                %td 50%
                %td $2,000,000
                %td $750,000
          %table
            %tbody
              %thead  
                %tr
                  %td{:colspan => "5", :dir => "ltr"} Investment | Purchase, Rate and Term Refinance
              %tr
                %td
                  Transation Type
                %td Units
                %td FICO
                %td
                  Maximum LTV/CLTV HCLTV
                %td
                  Maximum Loan Amount
              %tr
                %td Purchase
                %td{:rowspan => "3"} 1 - 4
                %td{:rowspan => "3"} 740
                %td 65%
                %td{:rowspan => "3"} $1,000,000
              %tr
                %td{:rowspan => "2"} Rate and Term Refinance
                %td{:rowspan => "2"} 60%
    %h2.heading.mb0
      Jumbo Deluxe
    %a.link--red.download-link{:href=> "#"}
      Download Full Guidelines
    %p.body-text-1
      Our most competetively priced jumbo designed for borrowers with superior credit profiles with a maximum LTV of 90% with no MI.
    .collapse  
      %div.collapse__header
        Deluxe
        %span.arrow
      %div.collapse__content
        .matrices
          %table
            %tbody
              %thead  
                %tr
                  %td{:colspan => "6"} Primary Residence: Purchase
              %tr.matrix-category
                %td
                  Property Type
                %td
                  Maximum LTV/CLTV/HCLTV
                %td Loan Amount
                %td
                  Minimum Fico Score
                %td
                  Maximum DTI Ratio
                %td
                  Minimum Months Reserves (PITIA)      
              %tr
                %td
                  1 Unit PUID Condo Co-Op 
                %td 90%
                %td{:rowspan => "4"} $417,001-$1000000
                %td 760
                %td 35%
                %td 24
              %tr
                %td{:rowspan => "12"} 1 Unit PUID Condo Co-Op
                %td 85%
                %td 760
                %td 35%
                %td 18
              %tr
                %td 80%
                %td 720
                %td 43%
                %td 6
              %tr
                %td 70%
                %td 700
                %td 43%
                %td 6
              %tr
                %td 90%
                %td{:rowspan => "3"} $1000001-$1500000
                %td 760
                %td 36%
                %td 24
              %tr
                %td 85%
                %td 760
                %td 36%
                %td 18
              %tr
                %td 80%
                %td 720
                %td 43%
                %td 9
              %tr
                %td 80%
                %td{:rowspan => "2"} $1500001-$1500000
                %td 740
                %td 38%
                %td 24
              %tr
                %td 75%
                %td 720
                %td 43%
                %td 12
              %tr
                %td 75%
                %td{:rowspan => "2"} $2000001-$2500000
                %td 740
                %td 38%
                %td 36
              %tr
                %td 70%
                %td 720
                %td 43%
                %td 24
              %tr
                %td 65%
                %td
                  $2500001-$3000000
                %td 740
                %td 38%
                %td 48
              %tr
                %td 65%
                %td
                  $417001-$1000000
                %td 720
                %td 43%
                %td 12
              %tr
                %td 2 Units
                %td 60%
                %td
                  $1000001-$1500000
                %td 720
                %td 43%
                %td 18 
              %tr
                %thead
                  %td{:colspan => "6", :rowspan => "2"} Primary Residence: Cash Out Refinance
              %tr.matrix-category
                %td
                  Property Type
                %td
                  Maximum LTV/CLTV/HCLTV
                %td Loan Amount
                %td
                  Minimum Fico Score
                %td
                  Maximum DTI Ratio
                %td
                  Minimum Months Reserves (PITIA)
              %tr
                %td{:rowspan => "5"} 1 Unit PUID Condo Co-Op
                %td 70%
                %td
                  $417001-$525000
                %td{:rowspan => "5"} 720
                %td{:rowspan => "5"} 43%
                %td 6
              %tr
                %td 70%
                %td
                  $625001-$1000000
                %td 6
              %tr
                %td 65%
                %td
                  $1000001-$1500000
                %td 9
              %tr
                %td 60%
                %td
                  $1500001-$2000000
                %td 18
              %tr
                %td 50%
                %td
                  $2000001-$250000
                %td 36
              %tr
                %thead
                  %td{:colspan => "6", :rowspan => "2"} Secondary Residence: Purchase
              %tr.matrix-category
                %td
                  Property Type
                %td
                  Maximum LTV/CLTV/HCLTV
                %td Loan Amount
                %td
                  Minimum Fico Score
                %td
                  Maximum DTI Ratio
                %td
                  Minimum Months Reserves (PITIA)
              %tr
                %td{:rowspan => "9"} 1 Unit PUID Condo
                %td 90%
                %td{:rowspan => "3"} $417,001 - $625,500
                %td 760
                %td 35%
                %td 24
    %h3.mb0
      Jumbo Prime
    %a.link--red.download-link{:href=> "#"}
      Download Full Guidelines
    %p.light
      Unique guidelines with three programs to fit an unconventional borrowers profile. 
    .collapse
      %div.collapse__header
        Prime Super
        %span.arrow
      %div.collapse__content
        .matrices
          %table
            %tbody
              %thead   
                %tr 
                  %td{:colspan => "5"} Primary Residence: Purchase
              %tr.matrix-category
                %td
                  Maximum LTV/CLTV/HCLTV
                %td
                  Maximum Loan Amount
                %td
                  Minimum Fico Score
                %td
                  Maximum DTI Ratio
                %td
                  Months Reserve
              %tr
                %td 85%
                %td $2,000,000
                %td 760
                %td 40%
                %td 36
              %tr
                %td 85%
                %td $1,500,000
                %td 740
                %td 40%
                %td 24
              %tr
                %td 85%
                %td $1,000,000
                %td 740
                %td 40%
                %td 18
              %tr
                %td 80%
                %td $2,000,000
                %td 740
                %td 43%
                %td 12
              %tr
                %td 80%
                %td $1,500,000
                %td 720
                %td 43%
                %td 9
              %tr
                %td 75%
                %td $2,000,000
                %td 720
                %td 43%
                %td 12
              %tr
                %td 75%
                %td $1,000,000
                %td 700
                %td 43%
                %td 12
              %tr
                %td 70%
                %td $2,500,000
                %td 720
                %td 43%
                %td 18
              %tr
                %td 65%
                %td $3,000,000
                %td 720
                %td 43%
                %td 24
              %tr
                %td
                %td $5000000*
                %td
                %td
                %td
              %tr
                %thead  
                  %td{:colspan => "5"} Primary Residence: Rate/Term Refinance
              %tr.matrix-category
                %td
                  Maximum LTV/CLTV/HCLTV
                %td
                  Maximum Loan Amount
                %td
                  Minimum Fico Score
                %td
                  Maximum DTI Ratio
                %td
                  Months Reserve
              %tr
                %td 80%
                %td $1,500,000
                %td 740
                %td{:rowspan => "6"} 43%
                %td 9
              %tr
                %td 80%
                %td $1,000,000
                %td 720
                %td 9
              %tr
                %td 75%
                %td $1,500,000
                %td 720
                %td 12
              %tr
                %td 75%
                %td $1,000,000
                %td 700
                %td 12
              %tr
                %td 70%
                %td $2,000,000
                %td 720
                %td 12
              %tr
                %td 60%
                %td $2,500,000
                %td 720
                %td 18
              %tr
                %td
                %td $3000000*
                %td
                %td
                %td
      %div.collapse__header
        Prime High Reserve Titanium
        %span.arrow
      %div.collapse__content
        .matrices
          %table
            %tbody
              %tr  
                %thead  
                  %td{:colspan => "4"} Primary Residence: Purchase
              %tr.matrix-category
                %td
                  Maximum
                  %br
                    LTV/CLTV/HCLTV
                %td
                  Maximum
                  Loan Amount
                %td
                  Minimum
                  FICO score
                %td
                  Maximum
                  DTI Ratio
              %tr
                %td
                  80%
                %td
                  $2,000,000
                %td
                  700
                %td{:rowspan => "3"}
                  43%
              %tr
                %td
                  80%
                %td
                  $1,500,000
                %td
                  680
              %tr
                %td
                  70%
                %td
                  $2,500,000
                %td
                  700
              %tr
                %td
                  70%
                %td
                  $1,500,000
                %td
                  660
                %td
                  40%
              %tr
                %td
                  65%
                %td
                  $3,000,000
                %td
                  700
                %td{:rowspan => "3"}
                  43%
              %tr
                %td
                  60%*
                %td
                  $3,500,000
                %td
                  740
              %tr
                %td
                  60%*
                %td
                  $5,000,000
                %td
                  760
              %tr  
                %thead  
                  %td{:colspan => "4"} Primary Residence: Rate/Term refinance
              %tr.matrix-category
                %td
                  Maximum
                  %br
                    LTV/CLTV/HCLTV
                %td
                  Maximum
                  Loan Amount
                %td
                  Minimum
                  FICO score
                %td
                  Maximum
                  DTI Ratio
              %tr
                %td
                  80%
                %td
                  $1,500,000
                %td
                  700
                %td{:rowspan => "4"}
                  43%
              %tr
                %td
                  80%
                %td
                  $1,000,000
                %td
                  680
              %tr
                %td
                  75%
                %td
                  $2,000,000
                %td
                  700
              %tr
                %td
                  70%
                %td
                  $2,500,000
                %td
                  700
              %tr
                %td
                  70%
                %td
                  $1,000,000
                %td
                  660
                %td
                  40%
              %tr
                %td
                  65%
                %td
                  $3,000,000
                %td
                  700
                %td
                  43%
              %tr  
                %thead  
                  %td{:colspan => "4"} Primary Residence: Cash-Out Refinance
              %tr.matrix-category
                %td
                  Maximum
                  %br
                    LTV/CLTV/HCLTV
                %td
                  Maximum
                  Loan Amount
                %td
                  Minimum
                  FICO score
                %td
                  Maximum
                  DTI Ratio
              %tr
                %td
                  50%
                %td
                  $2,500,000 ($500K Cash-Out)
                %td
                  700
                %td{:rowspan => "2"}
                  43%
              %tr
                %td
                  45%
                %td
                  $3,000,000 ($750K Cash-Out)
                %td
                  700
              %tr  
                %thead  
                  %td{:colspan => "4"}
                    Secondary
                    %span Residence: Purchase &amp; Rate/term refinance
              %tr.matrix-category
                %td
                  Maximum
                  %br
                    LTV/CLTV/HCLTV
                %td
                  Maximum Loan Amount
                %td
                  Minimum
                  FICO score
                %td
                  Maximum
                  DTI Ratio
              %tr
                %td
                  50%
                %td
                  $2,500,000
                %td
                  700
                %td{:rowspan => "2"}
                  43%
              %tr
                %td
                  45%
                %td
                  $3,000,000
                %td
                  700
      %div.collapse__header
        Prime Investment
        %span.arrow
      %div.collapse__content
        .matrices
          %table
            %tbody
              %tr  
                %thead  
                  %td{:colspan => "4"}
                    Primary Residence: Purchase
              %tr.matrix-category
                %td
                  Maximum
                  %br
                    LTV/CLTV/HCLTV
                %td
                  Maximum Loan Amount
                %td
                  Minimum
                  FICO score
                %td
                  Maximum
                  DTI Ratio
              %tr
                %td
                  70%
                %td
                  $1,000,000
                %td
                  740
                %td
                  40%
    %h3.mb0
      Core Jumbo
    %a.link--red.download-link{:href=> "#"}
      Download Full Guidelines
    %p.light
      A Hybrid 5/1 ARM Product with an Interest Only option and a fully amortized feature to 89.9% LTV with no MI. 
    .collapse
      %div.collapse__header
        Core 5/1 Arm Interest Only
        %span.arrow
      %div.collapse__content
        .matrices
          %table
            %tbody
              %thead   
                %tr 
                  %td{:colspan => "5"} Primary Residence: Purchase
              %tr.matrix-category
                %td
                  Maximum LTV/CLTV/HCLTV
                %td
                  Maximum Loan Amount
                %td
                  Minimum Fico Score
                %td
                  Maximum DTI Ratio
                %td
                  Months Reserve
              %tr
                %td 85%
                %td $2,000,000
                %td 760
                %td 40%
                %td 36
              %tr
                %td 85%
                %td $1,500,000
                %td 740
                %td 40%
                %td 24
              %tr
                %td 85%
                %td $1,000,000
                %td 740
                %td 40%
                %td 18
              %tr
                %td 80%
                %td $2,000,000
                %td 740
                %td 43%
                %td 12
              %tr
                %td 80%
                %td $1,500,000
                %td 720
                %td 43%
                %td 9
              %tr
                %td 75%
                %td $2,000,000
                %td 720
                %td 43%
                %td 12
              %tr
                %td 75%
                %td $1,000,000
                %td 700
                %td 43%
                %td 12
              %tr
                %td 70%
                %td $2,500,000
                %td 720
                %td 43%
                %td 18
              %tr
                %td 65%
                %td $3,000,000
                %td 720
                %td 43%
                %td 24
              %tr
                %td
                %td $5000000*
                %td
                %td
                %td
              %tr
                %thead  
                  %td{:colspan => "5"} Primary Residence: Rate/Term Refinance
              %tr.matrix-category
                %td
                  Maximum LTV/CLTV/HCLTV
                %td
                  Maximum Loan Amount
                %td
                  Minimum Fico Score
                %td
                  Maximum DTI Ratio
                %td
                  Months Reserve
              %tr
                %td 80%
                %td $1,500,000
                %td 740
                %td{:rowspan => "6"} 43%
                %td 9
              %tr
                %td 80%
                %td $1,000,000
                %td 720
                %td 9
              %tr
                %td 75%
                %td $1,500,000
                %td 720
                %td 12
              %tr
                %td 75%
                %td $1,000,000
                %td 700
                %td 12
              %tr
                %td 70%
                %td $2,000,000
                %td 720
                %td 12
              %tr
                %td 60%
                %td $2,500,000
                %td 720
                %td 18
              %tr
                %td
                %td $3000000*
                %td
                %td
                %td
= render "page_body"