%section.hero-content.hero-loan
  %section.content-wrap
    %h1.title
      Quick
      %br/
      Pricer
%section.content-wrap
  %nav.sub-page-sidebar
    %ul
      %li
        %a{:href => "#"} JUMBO
      %li
        %a.active{:href => "#"} CONVENTIONAL
      %li
        %a{:href => "#"} HARP
      %li
        %a{:href => "#"} FHA
      %li
        %a{:href => "#"} VA
  %article.sub-page-content
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, assumenda consequatur consequuntur deleniti dolores ducimus, explicabo fugiat illum laboriosam, non nulla odit officiis provident repudiandae rerum temporibus ullam! A, nulla.
