%article.type-system-rounded.wrapper
  %p 
    Hello #{@loan.broker_first_name},
  %p
    Thank you for choosing Commerce Home Mortgage Wholesale to submit your loan.
  %p
    Below are the necessary steps to complete your loan submission:
  %ol.list.numerical.wrapper  
    %li 
      %p
        Print the attached documents and sign
    %li 
      %p
        Upload DU 3.2, Calyx Point, or Encompass file to TPO
    %li 
      %p
        Upload the ‘Loan Submission Cover Sheet’, ‘Compensation Attestation’, and all loan documentation to TPO
    %li 
      %p
        Click the ‘Submit’ button within TPO when available
  %p.section-header
    VA Specific Documents Required:
  %ol.list.two-column.wrapper
    %li
      %p
        %input{:type => "checkbox", name: "checkbox1"}
        %span SSN and Photo ID
    %li
      %p
        %input{:type => "checkbox", name: "checkbox2"}
        %span VA Federal Collection Form 26-0503
    %li
      %p
        %input{:type => "checkbox", name: "checkbox3"}
        %span Termite Certificate
    %li
      %p
        %input{:type => "checkbox", name: "checkbox4"}
        %span VA Guaranty Certification
    %li
      %p
        %input{:type => "checkbox", name: "checkbox5"}
        %span VA Addendum Form 26-1802A
    %li
      %p
        %input{:type => "checkbox", name: "checkbox6"}
        %span VA Interest Rate Disclosure Statement
    %li
      %p
        %input{:type => "checkbox", name: "checkbox7"}
        %span VA Amendatory Clause (signed/dated by all)
    %li
      %p
        %input{:type => "checkbox", name: "checkbox8"}
        %span VA Loan Analysis 26-6393
    %li
      %p
        %input{:type => "checkbox", name: "checkbox9"}
        %span VA Assumption Notice
    %li
      %p
        %input{:type => "checkbox", name: "checkbox10"}
        %span VA Loan Summary
    %li
      %p
        %input{:type => "checkbox", name: "checkbox11"}
        %span VA Blanket Cert (true/correct copies)
    %li
      %p
        %input{:type => "checkbox", name: "checkbox12"}
        %span VA Nearest Living Relative Information
    %li
      %p
        %input{:type => "checkbox", name: "checkbox13"}
        %span VA Borrower Rights Form 26-8978
    %li
      %p
        %input{:type => "checkbox", name: "checkbox14"}
        %span VA NOV (Notice of Value)
    %li
      %p
        %input{:type => "checkbox", name: "checkbox15"}
        %span VA Case Number Assignment 26-1880
    %li
      %p
        %input{:type => "checkbox", name: "checkbox16"}
        %span VA NOV (Proof sent to client)
    %li
      %p
        %input{:type => "checkbox", name: "checkbox17"}
        %span VA Cert of Eligibility
    %li
      %p
        %input{:type => "checkbox", name: "checkbox18"}
        %span VA Request for Reasonable Value 26-1805
    %li
      %p
        %input{:type => "checkbox", name: "checkbox19"}
        %span VA Child Care Certification Form
    %li
      %p
        %input{:type => "checkbox", name: "checkbox20"}
        %span VA Residential Income Worksheet
    %li
      %p
        %input{:type => "checkbox", name: "checkbox21"}
        %span VA Counseling Checklist for Military Home Buyers
    %li
      %p
        %input{:type => "checkbox", name: "checkbox22"}
        %span VA Verification of Benefits Form 26-8937
    %li
      %p
        %input{:type => "checkbox", name: "checkbox23"}
        %span VA Debt Questionnaire Form 26-0551
    %li
      %p
        %input{:type => "checkbox", name: "checkbox24"}
        %span VA Veteran Status Form 26-8261A
    %li
      %p
        %input{:type => "checkbox", name: "checkbox25"}
        %span VA Evidence of Clear VAIVRS Number
  %p.section-header
    General Loan Documents Required:
  %ol.list.two-column.wrapper
    %li
      %p
        %input{:type => "checkbox", name: "checkbox26"}
        %span Broker Typed 1008/1003
    %li
      %p
        %input{:type => "checkbox", name: "checkbox27"}
        %span Initial 1003 and LT 92900A (executed by all)
    %li
      %p
        %input{:type => "checkbox", name: "checkbox28"}
        %span Initial Good Faith Estimate, Fees, Worksheet & Settlement Provider List  
    %li
      %p
        %input{:type => "checkbox", name: "checkbox29"}
        %span Any updated GFEs issued since the initial GFE with completed Changed Circumstance
    %li
      %p
        %input{:type => "checkbox", name: "checkbox30"}
        %span Broker Typed 1008/1003
    %li
      %p
        %input{:type => "checkbox", name: "checkbox31"}
        %span Anti Steering Disclosure
    %li
      %p
        %input{:type => "checkbox", name: "checkbox32"}
        %span Intent to Proceed
    %li
      %p
        %input{:type => "checkbox", name: "checkbox33"}
        %span Credit Report (less than 45 days old)
    %li
      %p
        %input{:type => "checkbox", name: "checkbox34"}
        %span Borrower Authorization
    %li
      %p
        %input{:type => "checkbox", name: "checkbox35"}
        %span IRS 4506-T (completed/signed)
    %li
      %p
        %input{:type => "checkbox", name: "checkbox36"}
        %span Local/State Specific disclosures
    %li
      %p
        %input{:type => "checkbox", name: "checkbox37"}
        %span Purchase: Purchase Agreement/Contract
    %li
      %p
        %input{:type => "checkbox", name: "checkbox38"}
        %span Income/Asset Documentation
    %li
      %p
        %input{:type => "checkbox", name: "checkbox39"}
        %span Refinance: Payoff Statement
    %li
      %p
        %input{:type => "checkbox", name: "checkbox40"}
        %span AUS Findings (Optional)       
  %p
    %strong Questions? 
    We are happy to help! Call Client Services at 949.423.3026 or email us at: 
    %u
      %a{:href=> "mailto:nathaniel@commercemtgwholesale.com"}
        nathaniel@commercemtgwholesale.com

  %p
    Sincerely,
  = render "shared/emails/logo"