<article class="company_resolution wrapper">
  <%= wicked_pdf_image_tag("logo-all-black.png", :class=>"logo") %>  
  <h2 class="align-center">CORPORATE RESOLUTION</h2>
  <p>
    RESOLVED that,
  </p>
  <p>
    President: <%= broker_approval_form.company_president %>
  </p>
  <p>
    Corporate Secretary: <span class="underline underline--long"></span><br/>
  <p>
    Of this corporation, or any one or more of them or their duly elected or appointed successors in office, be and each of them is hereby and empowered in the name of and on behalf of this corporation and under its corporate seal, from time to time while this resolution is in <i>effect</i>, to execute any and all agreements, contract, assignments, endorsement and issuance of checks or drafts, reports, mortgage documents, and other papers in connection with documents, and furnish any information required or deemed necessary or proper in connection therewith.
  </p>
  <p>
    I HEREBY CERTIFY that the foregoing is true and correct copy of a resolution adopted by the Board of Directors of <%= broker_approval_form.company %> on the <span class="underline underline--short"></span>(day) of <span class="underline underline--short"></span> (month), <span class="underline underline--short"></span> (year) of which a quorum was present and voted, and that such resolution is duly recorded in the minute book of this corporation: that the officers named in said resolution have been duly elected or appointed to, and are the present incumbents of, the respective offices set after their respective names.
  </p>
  <table class="signature_table">
    <tbody>
      <tr>
        <td colspan="2">Corporate Secretary</td>
        <td colspan="1">Date</td>
      <tr>
    </tbody>
  </table>
</article>