<article class="type-system-rounded wrapper"> 
  <%= wicked_pdf_image_tag("logo-all-black.png", :class=>"logo") %> 
  <h2 class="align-center">LOAN FRAUD – ZERO TOLERANCE</h3>
  <p>
    All approved Loan Brokers must be aware that the licensed real estate bears the responsibility for all actions of his or her employees or licenses.  The broker is responsible for the content and quality of each application taken and each loan submitted to LENDER.  The submission of a loan application containing false information is a crime.
  </p>
  <p>
    <strong>TYPES OF LOAN FRAUD</strong>:  Submission of inaccurate information, including false statements on loan application(s) and falsification of documents purporting to substantiate credit, employment, deposit and asset information including identity, ownership/non-ownership of real property, etc.
  </p>
  <ol class="list numerical">
    <li>
      <p>
        Forgery of partially or predominantly accurate information.
      </p>
    </li>
    <li>
      <p>
        Incorrect statements regarding current occupancy or intent to maintain minimum continuing occupancy as state in the security instrument.
      </p>
    </li>
    <li>
      <p>
        Lack of due diligence by broker/loan officer/interviewer/processor, including failure to obtain all information required by the application and failure to request further information as dictated by Borrower’s response to other questions.
      </p>
    </li>
    <li>
      <p>
        Unquestioned acceptance of information or documentation, which is known, should be known, or should be suspected to be inaccurate.
      </p>
      <ol class="list low-alpha">
        <li>
          <p>
            Simultaneous or consecutive processing of multiple owner-occupied loans from one Applicant on multiple properties, or from one applicant supplying different information on each application.
          </p>
        </li>
        <li>
          <p>
            Allowing an application of interested third-party to ‘assist’ with the processing of the loan.
          </p>
        </li>
      </ol>
    </li>
    <li>
      <p>
        Broker’s non-disclosure of relevant information.
      </p>
    </li>
  </ol>
  <h3 class="align-center">CONSEQUENCES</h3>
  <p>
    The effects of ‘Loan Fraud’ are costly to all parties involved.  LENDER stands behind the quality of its loan production.  Fraudulent loans cannot be sold into the secondary market and, if sold, will require repurchase by LENDER.  Fraudulent loans damage our reputation with our investors and mortgage insurance providers.  The price paid by those who participate in ‘Loan Fraud’ is even more costly.  Following is a list of a few of the potential consequences that may be incurred:
  </p>
  <h3 class="align-center">CONSEQUENCES TO BROKER</h3>
  <ol class="list numerical">
    <li>Criminal prosecution</li>
    <li>Loss of Real Estate Broker’s License</li>
    <li>Loss of lender access due to exchange of information between lenders, mortgage insurance   companies, including submission of information to investors (FHLMC/FNMA/GNMA), Police Agencies, and the Department of Real Estate, and MIDEX.  </li>
    <li>Civil action by Commerce Home Mortgage Wholesale.</li>
    <li>Civil action by applicant/borrower or other parties to the transaction.</li>
    <li>Loss of approval status with Commerce Home Mortgage Wholesale.</li>
  <div class="page-break"></div>
  <h3 class="align-center">CONSEQUENCES TO BORROWER</h3>
  <ol class="list numerical">
    <li>
        <p>
          Acceleration of debt (FNMA/FHLMC Deed of Trust, revised 9/90).  Item #6 states: “Borrower shall also be in default if Borrower, during the loan application process, gave materially false or inaccurate information or statements to lender (or failed to provide lender with any material information) in connection with the loan evidenced by the Note, including, but not limited to, representations concerning Borrower’s occupancy of the Property as a principle residence.”  NOTE: Foreclosure under this section of the Deed of Trust does not require the Borrower to be in ‘payment default’.  As such, the Borrower will not have the benefit of reinstatement.  In order to cure the default, the Borrower must pay off the loan in full prior to the sale of the property.
        </p>
    </li>
    <li>Criminal prosecution</li>
    <li>Civil Action by LENDER</li>
    <li>Civil action by the other parties to transaction, such as seller or real estate agent/broker</li>
    <li>Employment termination</li>
    <li>Loss of professional licenses</li>
    <li>Adverse effect on credit history</li>
  </ol>
  <p>
    I have read the foregoing and understand the policy and position of LENDER with regard to ‘Loan Fraud’.
  </p>
  <table class="signature_table">
    <thead>
      <tr>
        <th>
          Signature of Broker of Record
        </th>
        <th>
          Signature of Principle Officer
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Signature of <%= broker_approval_form.broker_of_record %>
        </td>
        <td>
          Signature of Principle Officer
        </td>
      <tr>
    </tbody>
    <tbody>
      <tr>
        <td>
        </td>
        <td>
          Printed Name
        </td>
      <tr>
    </tbody>
  </table>
</article>