<article class="type-system-rounded quality-control wrapper">  
  <%= wicked_pdf_image_tag("logo-all-black.png", :class=>"logo") %>
  <h3 class="align-center">QUALITY CONTROL & COMPLIANCE AGREEMENT</h3>

  <ol class="list numerical">
    <li>
      <p>
        All loan files are locked in a file cabinet whenever the processor leaves his or her work area.  If the file(s) are removed, a log is kept indicating the date the file was checked out, by whom and when it was received back by the processor.  The broker has implemented a privacy compliant with the Gramm-Leach-Biiley Act’s Financial Privacy Rule and Safeguards Rule as described below:
      </p>
      <p>
        The financial Privacy Rule governs the collection and disclosure of customers’ personal financial information by financial institutions.  It also applies to companies, whether or not they are financial institutions, who receive such information. 
      </p>
      <p>
        The Safeguards Rule requires all financial institutions to design, implement and maintain safeguards to protect customer information.  The Safeguards Rule applies not only to financial institutions that collect information from their own customers, but also to financial institutions “such as credit reporting agencies” that receive customer information from other financial institutions.
      </p>
    </li>
    <li>
      <p>
        All credit reports are ordered from companies that comply to the Fair Credit Reporting Act, HUD/FHA, VA, FNMA, FHLMC regulations and all applicable state laws.  All credit reports collect and contain information from at least two (2) national credit repositories, and public records.  Should any derogatory credit items be reported, a copy of the credit report is mailed to the applicant.  Any discussion pertaining to the credit report by the borrower is referred to the credit-reporting agency.
      </p>
    </li>
    <li>
      <p>
        Appraisals will be obtained in accordance with the Home Valuation Code of Conduct (HVCC).  The Broker understands that all appraisals are to be completed without influence from someone who desires a specific value or outcome.  Broker agrees to follow Lender’s policy by use of an approved Appraisal Management Company mandated by the Lender.
      </p>
    </li>
    <li>
      <p>
        All verifications of employment and deposit/assets are mailed directly to appropriate company.  No verifications are hand carried by an employee of Broker.
      </p>
    </li>
    <li>
      <p>
        Telephone verification of employment, banking relationships and asset verifications are performed on all alternative and reduced documentation loans.  This is not limited to review of telephone research, contacting directory assistance and professional agencies to verify accuracy of the loan application information.
      </p>
    </li>
    <li>
      <p>
        All appropriate loan disclosures are provided to the applicant within the prescribed seventy-two (72) hours from loan application or as otherwise required by state or federal law.  This includes, but is not limited to, the Fair Lending Notice, Good Faith Estimate of Settlement, Mortgage Loan Program Disclosure, and any other disclosure as required by applicable state and/or federal law.
      </p>
    </li>
    <li>
      <p>
        All loan applications received are date stamped the day received.
      </p>
    </li>
    <li>
      <p>
        All copies of documentation furnished by the borrower are stamped as a certified copy of the original document.
      </p>
    </li>
    <li>
      <p>
        All loan applicants receive a written notice of disposition whether the loan is declined or approved upon rendering a credit decision.
      </p>
    </li>
    <li>
      <p>
        All loans are processed to meet HUD/FHA, VA, FNMA, FHLMC, or Private Investor guidelines.  We agree to maintain a quality control and compliance policy as described above.
      </p>
    </li>
  </ol>
  <table>
    <tbody>
      <tr>  
        <td colspan="2">
          <span> Signature </span>
          <span> <%= broker_approval_form.company_president %>, President </span>
        </td>
        <td colspan="1">Date</td>
      </tr>
    </tbody>
  </table>
</article>