<article class="type-system-rounded wrapper">  
  <%= wicked_pdf_image_tag("logo-all-black.png", :class=>"logo") %>
  <h2 class="align-center">
    RESPA
  </h2>
  <h3 class="align-center">
    Policies and Procedures
  </h3>
  <p class="align-center">
    <strong>IMPORTANT INFORMATION</strong>
  </p>
  <p>
    For mortgage applications taken on or after January 1, 2010, lenders and Brokers are required to provide borrowers with a new standard Good Faith Estimate (GFE) that clearly summarizes key loan terms, fees, and closing costs. At settlement, the closing agent must provide a new HUD-1 Settlement Statement that offers a side-by-side comparison of the estimated charges from the GFE to the actual charges on the HUD-1.
  </p>
  <p>
    There are many resources available to explain the details of the new amendments. Below is a concise summary of the changes. We recommend that you seek specific legal counsel and/or call your regional FHA Home Ownership Center to answer questions. HUD has provided a significant amount of helpful information on its website: <a href="http://www.hud.gov/offices/hsg/ramh/res/respa_hm.cfm">http://www.hud.gov/offices/hsg/ramh/res/respa_hm.cfm</a>
  </p>
  <h3 class="center">
    <strong>Key Components</strong>
  </h3>
  <ol class="list numerical">
    <li>
      <strong><u>Application Re-Defined:</u></strong>
      Prior to issuing the GFE, the loan originator must collect at least six items of information which now define an Application: Borrower's Name, Social Security Number (to obtain a credit report), Gross Monthly Income, Loan Amount, Estimated Property Value, and Subject Property Address. The loan originator may decide what additional application information it needs to collect from a borrower in order to issue a meaningful GFE. The GFE must be issued within (3) business days of taking an application that meets the definition above.
    </li>
    <li>
      <strong><u>Up-Front Fee Prohibition: </u> </strong>
      <p>The only fee that can be charged prior to the borrower receiving a GFE is for the actual cost of the credit report.</p>
    </li>
    <li>
      <strong><u>New Standardized Good Faith Estimate Form:</u> </strong>
      <p>
        The new GFE is three pages and now includes key loan terms, rate lock information, and an expanded/reorganized estimate of total settlement charges. The form is intended to allow borrowers to easily compare GFE's from various lenders when shopping for a loan.
      </p>
    </li>
    <li>
      <strong><u>Institution of Fee Tolerances:</u> </strong>
      <p>Three separate categories of settlement charges have been defined with corresponding tolerances. Page three of the GFE summarizes these fees as follows:</p>
      <ol class="list alpha">
        <li>
          Zero tolerance - these charges cannot increase from the GFE amount at settlement.
        </li>
        <li>
          10% tolerance - the total of these charges can increase up to 10% from the GFE amount at settlement.
        </li>
        <li>
          No tolerance - these charges can change (increase) from the GFE amount without restriction at settlement. Once a GFE is issued the loan terms or charges
          can only be altered if there are valid "Changed Circumstances" as defined in Sec 3500.2 of RESPA
        </li>
      </ol>
    </li>
    <li>
      <p> 
        <strong><u>Updated Origination Charges and YSP Disclosure:</u> </strong>
        All origination charges, both lender and Broker, are listed as a lump sum. The YSP is listed as a "credit" directly to the borrower for the specific interest rate chosen. All charges that the Broker will receive, including YSP, Origination Fee, Application Fee, Processing Fee, etc., must be included in Block 1 and <u>are not subject to change</u>. Failure to account for the YSP as part of Origination Charges will result in a reduction in the Broker's total compensation. This is due to the borrower receiving a credit equal to the total amount of the YSP.<br/>
        <strong>Brokers may not charge Discount Points under any circumstances. Any points charged to the borrower by the Broker must be in the form of an origination fee.</strong>
      </o>
    </li>
    <li>
      <p>
        <strong><u>New HUD-1 Settlement Statement:</u> </strong>
        The HUD-1 has been revised to reflect the GFE changes listed above. The document has been increased from two to three pages and includes a comparison table of GFE and HUD-1 Charges, as well as a summary of all relevant loan terms.
      </p>
    </li>
  </ol>
  <div class="page-break"></div>
  <h3 class="align-center">
    <strong>Key Components</strong>
  </h3>
  <p>
    File Receipt and Loan Opening
  </p>
  <ol class="list numerical">
    <li>
      For Applications taken on or after January 1, 2010, CHMW will only accept new loan submissions containing a new GFE. In addition, the Broker must provide
      the following:
      <ol class="list alpha">
        <li>
          "Intent to Proceed" Certification signed and dated by borrower. A sample of the form is attached.
        </li>
        <li>
        Broker's Settlement Services Provider List, signed and dated by the applicant.
        </li>
        <li>
          Broker's written itemization of the lumped fee sections (Block 1 and Block 4) in order to ensure compliance with both State Law and TILA
        </li>
      </ol>
    <li>
      <p>
        Incomplete files will be addressed consistent with our current process. The Broker will be notified of the deficiency and the fill will remain with the opening team leader pending resolution.
      </p>
    <li>
      <p>
        The Origination Charge (Block 1) section must be great than the amount of the funding lender's underwriting fee. All charges that CHMW Funding will receive, including YSP, Origination Fee, Application Fee, Processing Fee, etc., must be included in Block 1 <u>and are not subject to change</u>.
      </p>
    </li>
    <li>
      <p>
        Block 2, Check Box 1 can never be checked off for a wholesale loan. Additionally, discount points (which can never be charged by a Broker) and YSP cannot be charged on the same loan. If CHMW receives a borrower-accepted GFE completed inclusive of either one of these errors, we will be unable to accept the loan application submission.
      </p>
    </li>
    <li>
      <p> 
        Block 3 (Required Services selected by Broker or Lender) must include the FHA Upfront MIP (actual charge) and the charge for the Life of Loan Flood Cert.
      </p>
    </li>
    <li>
      <p>
        The Broker's GFE will be reviewed and cross-checked against our internal tables for the reasonableness of the various charges and fees.
      </p>
    </li>
    <li>
      <p>
        If CHMW accepts the Broker's GFE, both CHMW and the Broker are bound by the fees listed, subject to applicable tolerances. CHMW will proceed with Loan Opening and will re-disclose the TIL as required by MDIA.
      </p>
    </li>
    <li>
      <p>
        If upon review of the Broker's GFE, it appears that it is deficient, CHMW will notify the Broker within one business day of the receipt of the loan submission. If appropriate corrective action is available, CHMW will work with the Broker to try to make the necessary adjustment. If after review the Broker's GFE is deemed unacceptable, CHMW will return the loan application.
      </p>
    </li>
    <li>
      <p>
      If any error is made by the Broker on an initial GFE that has been accepted by CHMW, the Broker will be responsible for curing the error by either paying a POC fee or lowering a fee at closing.
      </p>
      <h3 class="header-sub strong">
        "Changed Circumstances", Rate Locks and Re-Disclosure
      </h3>
    </li>
    <li>
      <p>
        If at any time from Loan Opening to Underwriting Cleared a valid "changed circumstance" occurs, only CHMW may issue a revised GFE. Brokers may not issue a revised GFE. The Broker must notify CHMW of any "changed circumstance" within 24 hours, so the revised GFE can be sent within three business days as required.
      </p>
    <li>
      <p>
        "Changed Circumstances" must be documented using a Changed Circumstances Form. A sample is attached to this memo. If you are using another version of the form, it must include the following information: (a) Date of Change, (b), Date of GFE re-disclosure (CHMW to complete), (c) Explanation of Change, (d) and Fees Associated with a Changed Circumstances. In addition, if the change was requested by the borrower, the Broker must obtain and provide relevant correspondence from the borrower acknowledging their requested change (e.g., Loan amount increase, program or term change).
      </p>
    <li>
      <p>
        Any file with a "changed circumstance: cannot be Underwriting Cleared without the following: (a) Changed Circumstance Form (with back-up documentation), (b) borrower signed revised GFE, and (c) borrower signed updated Intent to Proceed Form.
      </p>
    </li>
    <li>
      <p>
        Only charges and terms that are specifically related to the "changed circumstances" can be increased.
      </p>
    </li>
    <li> 
      <p>
        There will be significant scrutiny in determine if "changed circumstances" have occurred. The GFE cannot be revised to reflect market fluctuations. If market conditions have deteriorated since the Application was taken, the Origination Fee cannot be increased to account for these changes.
      </p>
      <h3 class="header-sub strong">Scheduling to Close</h3>
    </li>
    <li>
      <p>
        In order to provide the necessary fee data and service provider information to the settlement agent, CHMW will require a draft HUD-1 prior to scheduling the loan for closing. All service providers must be listed on the draft HUD-1. Please be aware that we anticipate extra time will be needed to prepare a closing package.
      </p>
      <h3 class="header-sub strong">Loan Closing and Final HUD-1</h3>
    </li>
    <li>
      <p>
        For loan applications taken on or after January 1, 2010, the settlement agent must use the new HUD-1 for the closing.
      </p>
    </li>
    <li>
      <p>
        CHMW will use the draft HUD-1 provided by the settlement agent and compare fees prior to sending out a closing package.
      </p>
    </li> 
    <li>
      <p>
        The HUD-1 must state who provided the services, which will then be compared to the original signed Settlement Services Provider List that was given to the borrower at the time of application.
      </p>
    </li>
    <li>
      <p>
        If any fee differences are detected that result in a tolerance violation, the violation must be cured by the Broker and the HUD-1 corrected prior to closing.
      </p>
    </li>
    <li>
      <p>
        CHMW's closing package will include the most recent valid GFE data for use in the page 3 Comparison section. The settlement agent must use this data when preparing the page three comparison section of the final HUD-1.
      </p>
    </li>
    <li>
      <p> 
        In the event an error is not detected prior to closing/disbursement, CHMW will work with the Broker to cure the error within 30-days, as required. The rule holds the lender responsible for curing all tolerance violations. If in CHMW's opinion, the Broker or other party caused the violation, CHMW will hold the appropriate party accountable for any refund due to the borrower.
      </p>
    </li>
  </ol>
  <h3 class="align-center">
    <strong>Broker Best Practices</strong>
  </h3>
  <p>
    HUD has acknowledged that RESPA reform poses unique challenges to the Broker/Lender relationship. The consistent message is that timely communication
    between the mortgage Broker and the lender is essential to ensure compliance. Please maintain heightened contact with your AE and our internal staff to
    make this process as smooth as possible.
  </p>
  <div class="page-break"></div>
  <h3 class="align-center">
    <strong>A Final Note</strong>
  </h3>
  <p>
    The changes described herein are sweeping and significantly affect the processing of mortgage loans and the settlement of residential real estate
    transactions. We share the opinion of other industry participants and regulators who expect that this transition period will be difficult.
  </p>
  <p>
    On November 13, 2009 HUD Announced "Restraint in RESPA Enforcement for First Four Months of New Rule" *. The body of this announcement emphasizes that this
    period is not a lack of enforcement, but rather an adjustment period designed to allow for mortgage professionals (who have made a good faith attempt at
    complying with the rules), the necessary time to continue adjusting their processes and procedures accordingly. HUD went further to specify that during
    this period they will be paying specific attention to "the extent to which the mortgagee has made sufficient investment and commitment in technology,
    training, and quality control designed to comply with the new rule."
  </p>
  <p>
    We are hopeful that further guidance will be forthcoming from HUD to allow all of us to comply with the regulations in a simple and straightforward manner
    while keeping with the spirit of providing consumers transparency and adequate protection. We will continue to adjust our procedures accordingly based on
    the guidance as it comes.
  </p>
  <p>
    *http://portal.hud.gov/portal/page/portal/HUD/press/press_releases_media_advisories/2009/HUDNo.09-215
  </p> 
  <p>
    Receipt &amp; Acknowledgement:
  </p>
  <p>
    We hereby acknowledge that Commerce Home Mortgage Wholesale RESPA Policies, Procedures, Workflow, Broker Best Practices and provided documents have been
    received.
  <p>
  <table class="signature_table">
    <tbody>
      <tr>
        <td colspan="2">By: <%= broker_approval_form.company_president %> 
          <span>Its: President</span></td>
        <td colspan="1">Date</td>
      <tr>
    </tbody>
  </table>
</article>