<article class="type-system-rounded wrapper"> 
  <%= wicked_pdf_image_tag("logo-all-black.png", :class=>"logo") %> 
  <h2 class="align-center">
    Sales Compensation Attestation
  </h2>
  <p>
    The Dodd-Frank Wall Street Reform and Consumer Protection Act (Dodd-Frank Act) expanded on previous efforts by lawmakers and regulators to strengthen loan
    originator qualification requirements and regulate industry compensation practices. The Bureau of Consumer Financial Protection (Bureau) is issuing new
    rules to implement the Dodd-Frank Act requirements, as well as to revise and clarify existing regulations and commentary on loan originator compensation.
    The rules also implement Dodd-Frank Act provisions that prohibit certain arbitration agreements and the financing of certain credit insurance in connection
    with a mortgage loan. The final rule revises Regulation Z to implement amendments to the Truth in Lending Act (TILA).
  </p>
  <p>
    <h3><strong>Prohibition against compensation based on a term of a transaction or proxy for a term of a transaction</strong></h3>
    <br/>
  </p>
  <p>
    Regulation Z already prohibits basing a loan originator's compensation on "any of the transaction's terms or conditions."
  </p>
    <h3><strong>Prohibition against dual compensation no prohibition on consumer payment of upfront points and fees</strong></h3>
    <br/>
  <h3><strong>Loan originator qualifications and identifier requirements</strong></h3>
    <br/>
  <p>
    The Dodd-Frank Act imposes a duty on individual loan officers, mortgage brokers, and creditors to be "qualified" and, when applicable, registered or
    licensed to the extent required under State and Federal law. The final rule imposes duties on loan originator organizations to make sure that their
    individual loan originators are licensed or registered as applicable under the Secure and Fair Enforcement for Mortgage Licensing Act of 2008 (SAFE Act)
    and other applicable law. For employers whose employees are not required to be licensed, including depository institutions and bona fide non-profits, the
    rule requires them to: (1) ensure that their loan originator employees meet character, fitness, and criminal background standards similar to existing SAFE
    Act licensing standards; and (2) provide training to their loan originator employees that is appropriate and consistent with those employees' origination
    activities. The final rule contains special provisions with respect to criminal background checks and the circumstances in which a criminal conviction is
    disqualifying, and with respect to situations in which a credit check on a loan originator is required. The final rule also implements a Dodd-Frank Act
    requirement that loan originators provided their unique identifiers under the Nationwide Mortgage Licensing System and Registry (NMLSR) on loan documents.
    Accordingly, mortgage brokers, creditors, and individual loan originator employees that are primarily responsible for a particular origination will be
    required to list on enumerated loan documents their NMLSR unique identifiers (NMLSR IDs), if any, along with their names.
  </p>
  <p>
    I attest that our employee sales compensation plan adheres to all regulatory requirements including the Dodd-Frank Wall Street Reform and Consumer
    Protection Act (Dodd-Frank Act)
  </p>
  <table class="signature_table">
    <tbody>
      <tr>
        <td colspan="2">
          <span>
            Signature
          </span>
          <span>
            <%= broker_approval_form.company_president %>, President
          </span>
        </td>
        <td colspan="1">Date</td>
      <tr>
    </tbody>
  </table>
</article>