- content_for :about_body do
  %article.sub-page-content
    %h2.sub-title
      Our Approach
    %p.slogan
      The process of brokering a loan was broken. So we decided to fix it.
    %p.body-text-1
      At Commerce Home Mortgage Wholesale, we bring a start up mentality to the old-fashioned mortgage industry. Instead of the rigid structure and red tape that slows down big banks, we’re free to exercise fresh thinking. So we asked ourselves, “If we could reinvent the mortgage industry, what it would it look like?”
    %p.body-text-1
      Instead of a black box, we provide insight. In place of a faceless process, we staff our operations with real people, who are accessible and accountable. Instead of underwriting a loan number, we put in place a process that treats every transaction personally, and professionally.
    %p.body-text-1.mb50
      The
      %span.fancy_title.last-red CHMW
      leadership team brings over 100 years experience to the table. We put in place an operations staff with the acumen to structure deals correctly. Account executives who provide the oversight to ensure your requirements are met and transactions proceed smoothly. As a result you will have the confidence to start and finish a transaction swiftly. You’ll close more loans faster and build your business.
    %h2.heading
      Black Card Service at
      %span.fancy_title.last-red CHMW
    %p.body-text-1
      Introducing luxury service for the mortgage industry. Experience the benefits of high-touch, concierge lending with 
      %span.fancy_title.last-red CHMW. 
      Talk to your account executive to find out if you qualify for this exclusive level of treatment.
    %div.fx-lc
      .pr50
        %p.bold.m15
          Enjoy special perks like:
        %ul.order--line.mb20.body-text-2
          %li.mb10
            Dedicated concierge and 24/7 call-in service with a credit manager
          %li.mb10
            File prioritization
          %li.mb10
            Direct access to underwriters and executives
          %li.mb10
            Exclusive invites to private events, industry dinners, and more.
          %li.mb10
            Guaranteed on-time closings (of course)
      -#%span.mr70.fx
        -#%p.body-text-1
          -#%b.db
            -#Enjoy the VIP treatment.
          -#We can’t promise a private jet, but we will treat you to first class, dedicated concierge service. At
          -#%span.fancy_title.last-red CHMW
          -#we
          -#%b prioritize your files, offer direct access
          -#and
          -#%b 24X7 call-in service
          -#so you can talk to a credit manager, and of course guaranteed on time closings.
          -#%span.fancy_title.last-red CHMW
          -#Black Card members get direct access to our executives and exclusive invitations to private events including industry dinners, and more.
        -#%p.body-text-1
          -#It’s our way of saying thank you to the people who help make our business a pleasure.
      = image_tag("black-card.png" , :class => "h270px")
= render "page_body"
%section
  %article.hero-content.hero-content--about
    %div.hero-text.fx-lc
      %span “At the end of the day we’re helping people make their dream of home ownership come true.”
    = image_tag("img-approach-bottom.jpg")

