.sub-page {
  .hello-bar {
    border-bottom: 2px solid $wh-red;
  }
  .main-header{
    background-color: white;
    border-bottom: $wh-light-gray 1px solid;
  }
  #logo a{
    background-image: image-url("logo-black.svg") ;
  }
  .utility ul li {
    &.hamburger-bt {
      &:after{
        background-image: image-url('menu-icon.svg');
        background-color: $wh-red;
        border-color: $wh-red;
      }
      &:before {
        background-image: image-url('menu-close-black.svg');
      }
    }
    > a {
      color: $wh-dark-gray;
      &:hover{
        color: $wh-red;
      }
    }
    &.loan-bt{
      border-color: $wh-red;
      a{
        color: $wh-red;
      }
      &:hover {
        a{
          color:#ffffff;
        }
      }
    }
  }
  .hero-content{
    position: relative;
    padding-top: 60px;
    background-size: 100% auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center 95px;
    height: 420px;
    &:after {
      display: none;
    }
    &--noscroll-bg {
      background-attachment: scroll !important;
    }
    &--about {
      height: auto !important;
      background-position: 50% 50%;
      background-attachment: initial !important;
    }
    .content-wrap{
      position: relative;
    }
    .title{
      color: #fff;
      font-size: 60px;
      font-weight: 100;
      border-bottom: 2px solid;
      text-transform: uppercase;
      display: inline;
      position: relative;
      top:35px;
    }
    .hero-text{
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      color:#ffffff;
      font-size: 34px;
      line-height: 1.1;
      @extend .font-roboto-condensed;
      font-weight: 300;
      span{
        display: block;
        width: 400px;
        margin-left: 135px;
      }
    }
    .map{
      @include span-columns(6);
      background: #ffffff;
      padding: 20px;
      .map-img{
        margin-top: 15px;
        display: block;
      }
    }
  }
  .sub-page-sidebar{
    @include span-columns(3);
    padding: 20px;
    position: relative;
    top: -164px;
    background-color: white;
    border: 1px solid tint(black, 90%);
    ul {
      li{
        text-transform: uppercase;
        line-height: 1;
        border-bottom: lightgray 1px solid;
        padding-left: 15px;
        @include transition(all 0.3s ease-in-out);
        &:last-child {
          border: none;
        }
        &:hover {
          background-color: $wh-red;
          a {
            color: #fff !important;
          }
        }
        a{
          color:$wh-dark-gray;
          padding: 15px 0;
          display: block;
          font-weight: 300;
          &.active {
            color:$wh-red;
            font-weight: bold;
          }
        }
      }
    }
  }
  .sub-page-content {
    @include span-columns(9);
    @include omega();
  }
  .sub-title {
    background: $wh-red;
    color: #ffffff;
    background: #e51f04;
    padding: 6px 26px;
    display: inline-block;
    position: relative;
    left: -26px;
    margin-bottom: 26px;
    @extend .font-roboto;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
  .sub-title-bold{
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .slogan{
    margin-bottom: 26px;
    @extend .font-roboto-condensed;
    text-transform: uppercase;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: 0;
    color:$wh-dark-gray;
    font-weight: 300;
  }
  .slogan-with-sort{
    @extend .fx-lc;
    .select2-container .select2-choice{
      border-color:$wh-red;
    }
    .select2-container .select2-choice .select2-chosen{
      color:$wh-red;
      text-transform: uppercase;
    }
    .select2{
      width: 120px;
      margin-bottom: 26px;
      margin-left: 10px;
    }
  }
  p {
    &.paragraph {
      @extend .body-text-1;
      margin-bottom: 20px;
      margin-top: 30px;
    }
  }
  .member{
    &__bio {
      margin-bottom: 25px;
      margin-top: 10px;
      font-size: 18px;
    }
    &__name{
      font-weight: bold;
      font-size: 24px;
      text-transform: uppercase;
    }
    &__title{
      font-size: 24px;
    }
    &__contact {
      border-top: 1px solid #fff;
      display: inline-block;
      padding-top: 10px;
      a {
        margin: 0 10px;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        @include transition(all 0.3s ease-in-out);
        &:hover {
          opacity: .5;
        }
      }
    }
  }
  address{
    font-weight: 300;
    font-style: normal;
  }
  .download-link{
    font-size:18px;
    margin-bottom: 15px;
    display: block;
    color:$wh-red;
    font-weight: bold;
    @include transition(.3s ease-out);
    &:hover{
      color:$wh-dark-gray;
    }
  }
  .about-bottom{
    //margin: 85px 0;
    position: relative;
    z-index: 9;
    padding: 5em 0 9em 0;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    &__title{
      @extend .font-roboto-condensed;
      color:white;
      font-size: 38px;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
    }
    &__text{
      font-size:28px;
      text-align: center;
      color:white;
      display: block;
    }
    &__boxes{
      // margin-bottom: 2em;
      //border: 1px solid white;
      //background: rgba(76,122,122,0.6);
      @include outer-container;
      @include clearfix;
      @include row(table);
      li {
        text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
        text-align: center;
        color: white;
        font-weight: 400;
        font-size: 20px;
        padding: 15px 10px;
        line-height: 20px;
        letter-spacing: 1px;
        float: left;
        @include span-columns(2.4);
        &:nth-child(-n+4){
          border-right: 1px solid rgba(225,225,225,0.6);
        }
        &:last-child{
          display: block;
          width: 100%;
          margin-top: 25px;
          padding: 0;
          @include reset-display;
        }
        p {
          text-shadow: 0px 1px 1px rgba(76,122,122,0.6);
        }
      }
    }
  }
}

.pricing {
  background: #fff;
  &--info{
    >ul{
      @include outer-container;
      >li{
        @include span-columns(4);
        &:nth-child(3n){
          @include omega();
        }
      }
    }
  }
  &--result ul{
    padding: 15px;
    > div {
      border-bottom: 2px solid $wh-red;
      border-left: 2px solid $wh-red;
      border-right: 2px solid $wh-red;
      margin-bottom: 15px;
    }
    p {
      color: #fff;
      background-color: tint($wh-red, 10%);
      padding: 15px;
      margin: 0;
    }
    table {
      margin: 0;
      thead {
        color: tint($wh-light-gray, 50%);
        tr th {
          padding-left: 10px;
          border: 0;
        }
      }
      tbody tr td {
        border: 0;
        padding-left: 10px;
      }
      td:first-child {
        border-right: 2px solid tint($wh-light-gray, 90%);
      }
      tbody tr:nth-child(odd){
        background-color: tint($wh-light-gray, 90%);
      }
    }
  }
}
.form{
  &--login{
    >ul{
      @include outer-container;
      >li {
        @include span-columns(6 of 12);
        float: none;
        .bt-cta{
          text-transform: capitalize;
        }
      }
    }
  }
  &--request {
    >ul{
      @include outer-container;
      border-bottom: 1px solid;
      margin-bottom: 40px;
      padding-bottom: 30px;
      >li{
        @include span-columns(6);
        &:nth-child(2n){
          @include omega();
        }
      }
    }
    .bt-cta{
      display: table;
      margin-left: auto;
      padding: 8px;
    }
  }
  &--apply-now{
    >ul{
      @include outer-container;
      >li{
        @include span-columns(6);
        &:nth-child(2n){
          @include omega();
        }
        &.col-one{
          @include span-columns(12);
        }
        &.col-three{
          @include span-columns(4);
        }
      }
    }
  }
  &--contact{
    @include outer-container;
    >ul{
      @include span-columns(6);
      textarea{
        height: 76px;
      }
    }
  }
}
.well{
  @extend .font-roboto;
  font-size: 18px;
  font-weight: 400;

  padding: 20px;
  margin: 15px 0;
  text-transform: uppercase;
  border-bottom: 1px solid #dadada;
  background: #f7f7f7;
  &--progress{
    border: none;
    padding: 0;
    @extend .fx-lc;
    .state{
      height: 80px;
      color: #fff;
      background: #dfdfdf;
      border-bottom: 1px solid #c5c5c5;
      border-right: 1px solid #fff;
      &:last-child{
        border-right: none;
      }
      @extend .fx;
      @extend .fx-c;
      &.active{
        background: #f7f7f7;
        color:$wh-red;
        border-bottom-color: #dadada;
        span {
          border-bottom: 2px solid $wh-red;
        }
      }
    }
  }
}
.nearby{
  text-align:center;
  &__heading{
    @extend h1.heading;
    color:$wh-braker-bay;
    text-transform: uppercase;
  }
  &__list{
    margin: 60px 0;
    font-size: 22px;
    @extend .fx-jsa;
    .head{
      @extend .font-roboto-condensed;
      font-size: 32px;
      font-weight: 100;
      margin-bottom: 0;
    }
  }
}
.bordered-title{
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom: 6px solid $wh-red;
}
.bordered-form{
  border-bottom: 1px solid $wh-light-gray;
  margin-bottom: 40px;
  padding-bottom: 20px;
  label{
    padding: 3px 0 !important;
  }
  li{
    margin-bottom: 10px;
  }
}
//css transition for grid

.block-border{
  overflow: hidden;
  opacity: 1;
  //height: 200px;
}


.fade.ng-hide {
  opacity: 0;
  height: 0;
}

.fade.ng-hide-remove,
.fade.ng-hide-add {
  display: block !important;
}

.fade.ng-hide-remove {
  transition: all linear 1s;
}

.fade.ng-hide-add {
  transition: all linear 0.5s;
}