.hero-loan .parallax-background {
  background-image: image-url("hero-loan.jpg");
}
.hero-broker .parallax-background {
  background-image: image-url("hero-broker.jpg");
}
.hero-about .parallax-background {
  background-image: image-url("hero-about.jpg");
}

.hero-broker-approval .parallax-background {
	background-image: image-url("swimmer.jpg");
}
